[2014-06-03 19:41] carldanley opened #2 "Require promise library for structuring requests"
We talked about the idea of using [bluebird](https://www.npmjs.org/package/bluebird) for promises. Let's make this happen!

[code]

[2014-06-03 19:42] kadamwhite opened #3 "Make the WP constructor return a WP client instance"
Currently, the `wp` function is designed to be called each time a request is made. To enable passing the same configured WP client instance around between functions, we should make `WP` return a configured client object that can be used to instantiate new requests.

Before:

[code]

Proposal:

[code]

[2014-06-03 19:46] kadamwhite opened #4 "Queries should be scoped to a particular client object method call"
It should be possible to run `wp.posts()` and `wp.taxonomies()` without the latter changing any properties or state of the former request. Top-level methods on the `wp` object should create and return a new query object that can be chained, rather than setting private properties on the `wp` instance itself.

Methods that will create query objects:
- wp.posts
- wp.pages
- wp.users
- wp.taxonomies
-

[2014-06-03 19:46] carldanley opened #5 "Implement lo-dash/underscore support for return values"
I had the idea of extending the return values to support lo-dash or underscore so the developer could make use of sorting functions (among everything else these libraries support).

Though, after talking with @kadamwhite - I feel that we should make this as lightweight as possible and let the developer choose how they want to take action on the return results.

Still opening the Issue for discussi

[2014-06-03 19:50] kadamwhite opened #6 "HTTP requests should be triggerable by HTTP verb methods or by promise syntax"
For maximum flexibility and convenience, both callback and promise-style syntax should be valid: This is the rationale for pulling in a Promise lib as per #2

[code]

Additionally, if `.then` is called on a query chain, it assumes the `GET` method unless otherwise specified:

[code]

[2014-06-03 19:57] kadamwhite opened #7 "You should have a better syntax for querying custom post types"
Idea: our WP install has a custom post type (CPT) with name `cpt_event_listing`: we should be able to register a convenience method to instantiate post queries

[code]

Having `registerPostType` also mutate the parent `wp` object automatically was also considered; coop recommendation was to make the interface a little more declarative. Some alternatives to that syntax:

[code]

[2014-06-03 20:05] carldanley opened #8 "Use a request convenience library"
@kadamwhite suggested [https://www.npmjs.org/package/superagent](https://www.npmjs.org/package/superagent)

[2014-06-03 22:32] carldanley opened #9 "Setup a testing suite"
I'd like to get some unit testing in place so we can change the API around as needed but still run tests against things to make sure we're functioning as intended.

[2014-06-03 22:33] #8 closed, assigned to nobody

[2014-06-22 03:37] kadamwhite opened #13 "Figure out how to handle PATCH method"
There is a PATCH verb that is used within the [WP-API plugin's routes](https://github.com/WP-API/WP-API/blob/master/docs/guides/getting-started.md#checking-the-api-index); PATCH is new to us, but its behavior appears to be described [in this blog post](https://www.mnot.net/blog/2012/09/05/patch)

[2014-06-22 03:40] #3 closed, assigned to nobody

[2014-06-22 03:44] #2 closed, assigned to nobody

[2014-06-22 03:51] #4 closed, assigned to nobody

[2014-06-22 03:53] kadamwhite opened #14 "filter() should handle properties as key/value pairs or as an object"
These should both be valid (inspired by the signature of methods like `jQuery.fn.css`):

[code]

[2014-06-22 03:56] kadamwhite opened #15 "filter() should augment the request instance's filter properties, not overwrite them"
This is the current code for `filter`:

[code]

We should to change this to support calling filter multiple times, such as follows:

[code]

[2014-06-22 07:24] #14 closed, assigned to nobody

[2014-06-22 07:24] #15 closed, assigned to kadamwhite

[2014-06-22 07:28] kadamwhite opened #18 "Filters should DO something"
Calling .filter currently has no effect on the generated URL. That's less than ideal.

TODO:
- [ ] Build a whitelist of accepted filter values, so we can fail out faster if an invalid value is provided
- [ ] Build a list of filter values that should get [treated as arrays](https://github.com/WP-API/WP-API/blob/master/docs/compatibility.md#inputting-data-as-an-array) in the resulting API request UR

[2014-06-22 16:47] kadamwhite opened #19 "Add convenience method .posts().category for setting category filters"
See the [Category filter reference](http://codex.wordpress.org/Class_Reference/WP_Query#Category_Parameters) from WP_Query documentation:

The following query filter parameters should be accepted by the filter method, but it would be ideal to make a wrapper that will intelligently maintain an internal array of category IDs:
- **cat** _(int)_ - use category id.
- **category_name** _(string)_ - use

[2014-06-23 04:47] kadamwhite opened #23 "Find a utility library for constructing URIs"
String concatenation works OK for simple endpoint route requests, but when we start getting into filters (see #18) the query structure's going to get significantly more complex. I would like to pull in a 3rd-party utility for constructing URIs with query parameters, etc; I've been looking at [URI.js](https://www.npmjs.org/package/URIjs) (link goes to the npm package), but I'm open to alternative s

[2014-06-23 14:07] #6 closed, assigned to nobody

[2014-06-23 14:17] kadamwhite opened #24 "Add convenience method .posts().tags for setting tags filters"
See the [Tag Parameter filter reference](http://codex.wordpress.org/Class_Reference/WP_Query#Tag_Parameters) from WP_Query documentation:

The following query filter parameters should be accepted by the filter method, but it would be ideal to make a wrapper that will intelligently maintain an internal array of tags to apply to the query:
- **tag** _(string)_ - use tag slug.
- **tag_id** _(int)_ -

[2014-06-23 14:22] kadamwhite opened #25 "Support Custom Post Types"
Before this is released, we need to have support for custom post types.

Alternative syntaxes under consideration:

Generic types handled by a single `types` endpoint handler:

[code]

Create custom endpoint handlers with a `registerType` utility method (see #7):

[code]

In either case, the type method would wrap `.posts()` but would set properties to specify a type query parameter to filter resu

[2014-06-23 19:35] kadamwhite opened #26 "Add .pages() endpoint handler"
We should support querying for pages

[2014-06-24 22:07] #9 closed, assigned to nobody

[2014-06-24 22:08] #18 closed, assigned to kadamwhite

[2014-06-24 23:42] kadamwhite opened #30 "Improve the way in which query URLs are constructed"
At present we're concatenating a collection of instance properties like `_id`, `_action`, and `_actionId` into the paths for API requests. This seems brittle, as it both clutters the instance properties and can't really systematically enforce the order in which they're assembled.

I've been looking at @cowboy's [route-matcher](https://github.com/cowboy/javascript-route-matcher), and I think this m

[2014-06-24 23:48] kadamwhite opened #31 "Add code coverage reporting"
@tbranyen has indicated that setting up Istanbul may be difficult with simplemocha; I'm willing to give it a try though, as code coverage reporting would be, to borrow a phrase, "rad."

[2014-06-24 23:59] kadamwhite opened #32 "Flesh out TaxonomiesRequest"
Presently the only route that is anything close to fully-formed is the PostsRequest endpoint handler. Once #30 has been resolved, we should add support for getting lists of taxonomies and their terms through the `/taxonomies` API endpoint.

[2014-06-25 00:00] kadamwhite opened #33 "Document authentication"
We have hypothetical support for basic authentication, but it hasn't been tested. We should validate that it works, and figure out what would be needed to support [OAuth](https://github.com/WP-API/OAuth1).

[2014-06-25 00:10] kadamwhite opened #34 "Create Vagrant VM and document testing steps"
We should create (probably as a separate repository) a Vagrant box that can be provisioned with the WP-API plugin and some dummy content, so that we can provide easy testing and development steps for potential library users. It's better to say "want to try this out? Download and install this thing, then run this to see it work, then customize it to see what else it can do" than to leave people to

[2014-06-27 11:38] kadamwhite opened #39 "Add .media() endpoint handler"
`endpoint/media` is the last of the top-level routes that is not addressed by this library; it should be added.

[2014-06-27 18:48] kadamwhite opened #41 "Support Node.js 0.8"
The tests bomb out in travis in 0.8. I need to try this in Node.js 0.8 to see if I can figure out why.

[2014-06-27 18:56] kadamwhite opened #42 "Use "var" instead of "const" to permit opting-in to strict mode"
From a code review session, @jugglinmike points out

I agree with his assessment that the benefits of Strict outweigh the benefits of `const`; we should change all usages of `const` back to `var` and add strict-mode enforcement to the .jshintrc

[2014-06-27 19:18] #42 closed, assigned to nobody

[2014-06-27 19:48] #41 closed, assigned to kadamwhite

[2014-06-29 15:03] #30 closed, assigned to kadamwhite

[2014-06-29 18:56] #26 closed, assigned to nobody

[2014-06-29 18:58] #24 closed, assigned to nobody

[2014-06-29 18:58] #19 closed, assigned to nobody

[2014-06-29 19:07] kadamwhite opened #47 "Add a .url() instance method to request a resource from an arbitrary URL"
This will let us support queries for meta, etcetera in the interim until we have 100% endpoint coverage:

[code]

[2014-06-29 19:16] #13 closed, assigned to nobody

[2014-06-30 06:40] #32 closed, assigned to nobody

[2014-06-30 07:05] kadamwhite opened #51 "Add method to bind new endpoint handlers"
Per @rmccue, providers of the WP-API can expose new query endpoints and we should acocunt for those.

The option we discussed was to add a `.customEndpoint` method, in the manner of `.registerType` (see #7); however, the other option would be to make a function on WP that could be used to define a new constructor and specify the types at instantiation. Worth discussing. cc @carldanley

[2014-06-30 08:14] #7 closed, assigned to nobody

[2014-06-30 08:14] #25 closed, assigned to kadamwhite

[2014-06-30 08:58] #47 closed, assigned to nobody

[2014-06-30 09:15] kadamwhite opened #55 "Library is now 0.3.0 RC1"
@carldanley I'm considering punting `.media()` to the next release in order to get this online and announced this week; whether or not we make that call, this whole thing is ready for code review.

[2014-06-30 15:24] #23 closed, assigned to nobody

[2014-06-30 18:09] kadamwhite opened #56 "Add .meta handler for posts"
The `/posts` endpoint provides two routes for interacting with post meta values:

* `/posts/<id>/meta`
* `/posts/<id>/meta/<mid>`

Both of these depend on authentication, so that should be taken care of (and documented, see #33) before we implement this.

[2014-06-30 22:46] #39 closed, assigned to nobody

[2014-07-01 04:11] #33 closed, assigned to nobody

[2014-07-01 17:55] kadamwhite opened #61 "Add convenience methods for filtering by dates"
Possible options:

* .year()
* .month()
* .day()

Does WP support time-frame queries, like before/after?

[2014-07-01 18:01] kadamwhite opened #62 "Support mixing into or processing response data?"
It's been suggested that we mix in Underscore/Lodash functions to collection responses (#5), and it may be beneficial to provide a way to process response data objects into more structured models. (This library does not actually provide models: we should _not_ presume how users want to structure those data models, but it might be convenient to give them the option to do so.)

This issue is for bra

[2014-07-18 14:49] kadamwhite opened #63 "Add .categories() shortcut for .taxonomies().taxonomy('category')"
The `.taxonomies().taxonomy( 'taxonomy_name' )` pattern is a bit repetitive; we should expose a `.categories()` alias on `WP` instances that returns the same as `.taxonomies().taxonomy( 'category' );`

[2014-07-18 14:52] kadamwhite opened #64 "Add .tags() shortcut for .taxonomies().taxonomy('post_tag')"
The `.taxonomies().taxonomy( 'taxonomy_name' )` pattern is a bit repetitive; we should expose a `.tags()` alias method on the `WP` instance objects that returns the same as `.taxonomies().taxonomy( 'post_tag' );`

[2014-07-18 14:57] kadamwhite opened #65 "Add .taxonomy('tax_name') shortcut for .taxonomies().taxonomy('tax_name')"
The `.taxonomies().taxonomy( 'taxonomy_name' )` pattern is a bit repetitive.

To avoid having to type "taxonomy" twice whenever querying for a custom taxonomy or custom taxonomy terms, we should add a `.taxonomy( 'tax_name' )` shortcut method that will return a TaxonomiesRequest object pre-bound to the taxonomy with "tax_name".

[2014-07-18 17:39] #63 closed, assigned to kadamwhite

[2014-07-18 17:39] #64 closed, assigned to kadamwhite

[2014-07-18 17:39] #65 closed, assigned to kadamwhite

[2014-08-01 15:16] kadamwhite opened #72 "Don't mock 3rd-party request library in tests"
It was suggested in code review that using [nock](https://github.com/pgte/nock) or an alternative to mock the server responses would be a more robust approach to testing the library, vs the current approach (in which our tests depend on the specific API provided by superagent).

[2014-08-02 04:01] kadamwhite opened #73 "Deprecate "/posts/path" route"
Conversation at WCNYC indicates the `/posts/path` route is not long for this world; filtering on post name is preferred. _i.e._,

[code]

will replace

[code]

This should work today, so the `.path` handler on the page collection should just be re-purposed to set `.filter({ pagename: pathArg })`

[2014-08-02 04:10] kadamwhite opened #74 "Support Auto-Discovery from top-level API root endpoint response"
One major point of discussion at WCNYC surrounding the API is how to handle discoverability, as it was recommended to consider templated URLs (which are common with SAAS-provided APIs) to be an anti-pattern when the WP ReST API can be considered to be more of an API *builder* for individual sites than an API in and of itself. In a polymorphic world of individually-configured and customized WordPre

[2014-08-05 03:17] #73 closed, assigned to kadamwhite

[2014-08-06 21:36] kadamwhite opened #76 "Expose Pagination to client consumers"
Many responses from the API will be paginated, either explicitly or by default. For example, if post collections return 10 items by default, and you have 100 items in your DB, both of these will come back with a header link with `rel="next"`:

[code]

The general approach I have taken with this library is to let the user specify a request, and return what they asked for. At the moment the way this

[2014-09-12 16:31] #76 closed, assigned to kadamwhite

[2014-09-22 12:00] matthewrobb opened #83 "Make core lib environment agnostic to support use in the browser"
It seems like a great deal of the value of this module would be useful in the browser as well, it wouldn't be too difficult to delegate all node specific code out into it's own location so that it can be swapped out for browser equivalents.

Is this something you all are potentially interested in? I could do this work.

[2014-11-05 16:59] PanMan opened #84 "Double callback when using multiple custom post types?"
Hi!
If I do this
`wp.posts().type(['cityreport','place']).get(function (err, data) {`
I get a console error "double callback", and then a "syntax error". Also my error callback gets called.
The URL called does include the right data, but parsing it fails? It is valid JSON.
Or am I doing something wrong?

[2014-11-27 15:03] PanMan opened #85 "How do I skip the first page(s?) without requesting them?"
Can I skip certain pages when working with paged responses?
When I want to get page 3 of my results, I'd like to not first get page 1 and 2

[2014-11-27 15:09] PanMan opened #87 "Auth fails?"
Auth seems to fail, even when explicityly setting it in the call:

[code]

gives an empty object, while calling wp-json/users/me with basic auth with curl returns my user info.

[2014-11-29 15:37] kanakiyajay opened #88 "Unknown method posts"
I have installed the basic-auth and json-api plugins on wordpress.

This is my app.js file

[code]

which returns this error:
`{ status: 'error', error: 'Uknown method \'posts\'.' }`

But using Postman, I am getting the desired output of an array of posts.
So my question is which url is this npm module hitting ?

`<api-path>/get_posts/` -> gives correct output

or

`<api-path>/posts/` -> gives err

[2014-11-29 22:51] #55 closed, assigned to nobody

[2014-11-30 07:36] #88 closed, assigned to nobody

[2014-12-02 21:03] #85 closed, assigned to nobody

[2014-12-03 14:37] kadamwhite opened #89 "Superagent adds duplicative array syntax"
[superagent](https://github.com/visionmedia/superagent) is transforming the (already-formatted) `type[]=type1&type[]=type2` portion of the URL into `type[][0]=type1&type[][1]=type2`. This results in the following error:

[code]

This can be avoided by removing the `[]` around the type property, since superagent evidently inserts the array syntax and indices itself; effectively, the resolution here

[2014-12-03 15:30] kadamwhite opened #91 "Add integration test to ensure URI's are requested as intended"
(For background see #89)

Superagent automatically converts multiple occurrences of the same query parameter key into array syntax: `param=val&param=val` becomes `param[0]=val&param[1]=val`. Because this behavior was not intuitive (other request libraries use the provided URL exactly as-is), we should add a test to verify that this behavior still occurs in case it changes in future versions of sup

[2014-12-04 00:04] #87 closed, assigned to nobody

[2014-12-04 15:37] #89 closed, assigned to nobody

[2014-12-04 17:01] #84 closed, assigned to kadamwhite

[2014-12-11 11:08] PanMan opened #95 "Get taxonomy by slug"
In the docs (frontpage) it says:

    wp.taxonomies().taxonomy( 'taxonomy_name' ).term( termIdentifier ): get the term with slug or ID termIdentifier from the taxonomy taxonomy_name

This works with the ID, but not with the slug :(. Is this something that changed?

HOST/wp-json/taxonomies/post_tag/terms/42 works
HOST/wp-json/taxonomies/post_tag/terms/sociaal-ondernemerschap doesn't

[2015-02-21 00:32] alexciarlillo commented on #83
I think this can be closed thanks to Browserify. It appears they shim most core libs that can be used from the browser now. I just just installed this via npm and required it into a React app built with Browserify no problem.

[2015-02-22 06:59] kadamwhite commented on #83
That's great news -- do you have a demo or repo up I could check out? I'd like to see it in action before I close the issue, and I haven't had time to put a test together myself yet.

[2015-02-22 16:10] alexciarlillo commented on #83
This is the repo I am working on: https://github.com/alexciarlillo/react-wp It is a WIP and is using ReactJS and RefluxJS for views and data-flow respectively. I can try to hammer out something simpler a little later if needed.

[2015-03-16 17:40] brad-decker commented on #61
@kadamwhite I'm working on this. Added the convenience methods to the PostsRequest class, and verified that they work. Haven't written any tests or anything.

[2015-03-17 02:38] kadamwhite commented on #61
@brad-decker Awesome! Can you open a PR, so that it will be easier to track and respond to comments?

[2015-07-21 03:48] CaptainN opened #102 "OAuth support"
Hi!

What's involved with making oauth work (either oauth1, for which there is a WP API plugin plugin, or OAuth 2 for which there is a standalone plugin) with this plugin instead of standard HTTP authentication?

Kevin N.

[2015-07-21 04:02] kadamwhite commented on #102
@CaptainN OAuth isn't currently supported by this library -- the basic process, if I understand it (and I'll be honest, I've never used OAuth successfully without confusion) is that you'd use the plugin to generate a key, then we'd need to add a facility to this API to make a request with that key to get the token used to authenticate.

It's definitely something I'd like to add, but I haven't had

[2015-07-27 10:28] piermariacosina opened #103 "filter() doesn't work"
running this
[code]
the result are always all the published post, with any kind of filter even
[code]

Am I doing something wrong?

[2015-07-27 12:56] kadamwhite commented on #103
Thanks for the report! I'll take a look. To help debug, what version of the wp-Api plugin are you using?

[2015-07-27 13:48] piermariacosina commented on #103
Version 2.0-beta3 :)
ᐧ

On Mon, Jul 27, 2015 at 2:56 PM, K.Adam White <notifications@github.com>
wrote:

--

PIERMARIA COSINA
User Experience Designer | Product Developer

+39 392 4822 633 <http://assets.belafonte.co/signature.html#>
www.belafonte.co
<http://www.belafonte.co/?utm_source=signature&utm_medium=email&utm_campaign=signature>

[2015-08-26 18:04] chrisabrams opened #105 "Multiple categories?"
Is there a way to fetch an article with multiple categories, such as article has category "foo" and "bar" ?

[2015-08-27 11:05] tommedema opened #106 "WP api version"
It's not mentioned in the readme: is this driver for the v1 or v2 edition of the WP API plugin?

[2015-08-27 16:28] kadamwhite commented on #106
@tommedema 1.0, but some methods will work with 2.0 and I will be updating the library to work fully with the latest Ali plugin in the coming months

[2015-08-29 06:37] tommedema commented on #106
@kadamwhite is there a way to know which methods? I mostly need to create, request, and edit posts, upload media, and manage tags / categories.

[2015-08-29 16:19] kadamwhite commented on #106
@tommedema unfortunately the only way to know right now is to test. I'm planning to put together a compatibility list but I'll be away from the office for several days, so I won't have an opportunity to do so until the second week in September.

I've heard anecdotal evidence that at least most of the post retrieval methods work in 2.0, and if you try it out id love to know what you find around the

[2015-08-31 14:24] kadamwhite commented on #105
@chrisabrams You should be able to pass `.category()` an array of category names:
[code]
If that doesn't work please let me know!

[2015-08-31 15:46] jasonphillips commented on #106
I've begun working on 2.0 compatibility in my branch here: https://github.com/jasonphillips/wordpress-rest-api/tree/APIv2

So far, I have updated the taxonomy handler and its routes to work with all the new API paths (significant changes in 2.0 for accessing terms), and updated the tests. That is working well for me in a current project against 2.0; I'll continue to make further updates as I encou

[2015-09-02 13:35] piermariacosina commented on #103
Any news on this?

[2015-09-10 18:00] chrisabrams commented on #105
If a post has three categories, then the above example doesn't seem to work.

[2015-09-10 18:07] chrisabrams commented on #105
JK it does work. It would help if one of the categories wasn't `undefined`.

Notes:

This works as an AND for the selection, but as an OR for the whole set of categories on a post, meaning:

- Post A has categories ['foo', 'bar']
- Post B has categories ['foo', 'bar', 'baz],
- Post C has categories ['foo, baz']

It should only return posts A & B.

[2015-09-10 18:07] #105 closed

[2015-09-10 18:34] kadamwhite commented on #105
Thanks for the notes; I've emerged from a busy summer of project work and will take this into account when revisiting the documentation and testing against the v2 API beta!

[2015-10-02 09:55] LuisHerranz opened #107 "Available in the browser"
Hi there!

Excellent work :)

We would love to use this project in the browser, instead of nodejs.
Is that possible?If not, what would it take to make it compatible?

Thanks in advance!

[2015-10-03 12:18] LuisHerranz commented on #107
I have created a Meteor package using browserify and it seems to work really well. I will test it further more and once I have published it, I will post it here.

@kadamwhite if you want to maintain the Meteor package yourself, I can help you to set it up.

[2015-10-03 12:18] #107 closed

[2015-10-03 18:12] kadamwhite commented on #103
@piermariacosina I have confirmed with the WP-API team that the URL should have changed to `?per_page=5`, from `filter[posts_per_page]=5`; I will make a change to enable this from the API library, but unfortunately I'm not seeing the "correct" new syntax work either on a 2.0 beta 4 API instance. If I get it working I'll update this and add a relevant method.

[2015-10-06 18:09] #61 closed

[2015-10-06 18:49] kadamwhite commented on #103
@piermariacosina I am adding a `.perPage` method to handle this in the API v2 betas. It will be available in master shortly, and I will plan to tag it as a beta release on NPM.

[2015-10-06 19:24] #103 closed

[2015-10-06 19:35] kadamwhite commented on #106
@jasonphillips I've seen the work you're doing on your fork, and I would like your eyes on the changes I've made so far—the 0.6 release will support the API v2, and you can download the beta now via `npm install wordpress-rest-api@beta`. Major changes:

- The endpoint you pass to the client should still be the path to the API root (`wp-json`); but `.posts`, `.pages` etcetera automatically set `.na

[2015-10-06 21:25] #31 closed

[2015-10-24 00:27] mzalewski commented on #102
I doubt anyone has used OAuth without confusion :) I've managed to get OAuth working though, so I should be able to help out

[2015-10-24 02:44] kadamwhite commented on #102
@mzalewski if you're interested, that would be excellent in the extreme!

[2015-10-28 16:05] mzalewski commented on #102
Getting there slowly, I've got OAuth 1.0a working now. The only issue is that it requires user/browser authorization, so haven't quite figured out the best way to handle that. At the moment, I'm assuming that part will be done by the time the API is called so we already have an access token - but I have example code that does the actual authentication.

I'm planning to push it up tomorrow anyway s

[2015-10-28 16:53] kadamwhite commented on #102
:+1:

[2015-10-29 10:06] mzalewski commented on #102
I've added OAuth 1.0A support to my fork here:
https://github.com/mzalewski/wordpress-rest-api

I'm not 100% happy with it yet, but should hopefully give everyone a basic understanding of the direction I'm going. I've added some example code to the readme, so (hopefully) should be easy to understand if anyone wants to try it out

[2015-10-29 15:58] kadamwhite commented on #102
Thanks, @mzalewski , I will check it out next week. I appreciate your sharing your efforts!

[2015-12-01 15:43] eightyfive opened #112 "PUT (Update), POST (Create) examples?"
I didn't find any example on how to handle PUT & POST calls to the API?

That would be good to have a couple of examples in the wiki. As well as edge examples: inserting a new Post along with some new categories in one go.

[2015-12-01 16:25] kadamwhite commented on #112
Thanks for the suggestion, you have an excellent point. Updating this library and refreshing the docs are one of my top priorities this month so I hope to have something to show in a few weeks!

[2015-12-01 16:31] eightyfive commented on #112
Can you please share a quick example here?

This is preventing me to try out the library. I mean i can investigate myself, but if it's quick for you to share some code here, I would appreciate.

I'm looking for the way to inserts posts along with pre-defined categories attached to them.

Cheers.

[2015-12-01 16:51] kadamwhite commented on #112
Which version of the API are you using? 1.x, or 2.x beta?

[2015-12-01 17:18] eightyfive commented on #112
Dunno yet but I guess I want to use the latest. So let's say v2.

On Tue, Dec 1, 2015 at 11:51 PM, K.Adam White <notifications@github.com>
wrote:

[2015-12-02 12:05] eightyfive commented on #112
Hi,

So I tried with WP-API v2 but with no luck. So I decided to install WP-API v1.2.4 manually as well as [WP-API Basic Auth](https://github.com/WP-API/Basic-Auth) plugin.

But still no luck in creating a bunch of WP Users:

[code]

_Notes_:
- `err` is never reached
- `a1 = {}`
- No User is inserted in Database

[2015-12-02 12:20] eightyfive commented on #112
Ok I could finally connect to my local JSON api (added `wp-json`):

[code]

(Commenting for documentation purpose)

[2015-12-02 12:38] eightyfive commented on #112
It seems that I need a `nonce`:
https://github.com/WP-API/WP-API/issues/238

I have no idea what this is and how to include it in your library.

Any ideas?

https://codex.wordpress.org/WordPress_Nonces
http://wp-api.org/guides/authentication.html

[2015-12-02 16:54] igoldny opened #113 "npm install outdated version"
i'm trying to install latest version v0.6.0-0 but i get 0.5.0 instead.

[2015-12-02 17:07] kadamwhite commented on #113
Try `npm install wordpress-rest-api@beta`

[2015-12-03 08:25] igoldny commented on #113
works, thnx

[2015-12-03 08:25] #113 closed

[2015-12-08 22:02] alexvandervegt opened #114 "CPT support is not working with api v2"
The following does not work with the v2 api:
[code]

When I read this article ( http://scottbolinger.com/custom-post-types-wp-api-v2/ ) it's clear why, the API endpoint changed.

[2015-12-08 22:16] kadamwhite commented on #114
Correct, this is a known issue. Thanks for reporting, in hoping to have a new release out by new year's with much more support for v2!

[2015-12-10 21:28] alexvandervegt commented on #114
@jasonphillips got this work on his APIv2 branch:

https://github.com/jasonphillips/wordpress-rest-api/tree/APIv2

[2015-12-10 21:28] alexvandervegt opened #115 "POST support?"
Will there be POST support for the v2 api?

[2015-12-10 21:52] alexvandervegt commented on #115
Nevermind the APIv2 branch seems compatible with posting meta.

Thanks!

[2015-12-10 21:52] #115 closed

[2015-12-22 19:13] vtripolitakis commented on #112
This worked for me.

[code]

[2015-12-22 20:27] vtripolitakis opened #116 "How can I upload attachments (e.g. images) using the media WP-API endpoint?"
Here's my code using request:

[code]

[2015-12-28 23:10] kadamwhite opened #118 "Add documentation around posts__in"
Re: #117, @brad-decker indicates around supporting array filters:

This should be addressed in the readme or API documentation.

[2015-12-29 16:33] orditeck opened #119 "Upgrade route-parser to latest version"
route-parser latest version is `0.0.4`, few issues have been fixed since `0.0.2`.

This one is maybe the most important and is currently annoying me: https://github.com/rcs/route-parser/issues/2

Would be nice if you could update that dependency.

[2015-12-30 03:22] kadamwhite commented on #119
Great call; I'll audit the other deps too and get a new v2 compatibility beta out tomorrow (ditto v1 branch if you need it, otherwise I'll focus on the v2 branch)

[2015-12-30 13:36] orditeck commented on #119
Great, thanks!

[2015-12-30 14:23] #119 closed

[2015-12-30 14:26] kadamwhite commented on #119
@orditeck I've released v0.6.0-1, so `npm install wordpress-rest-api@beta` should get you the latest with the ^0.0.4 dependency. Thanks for the report!

[2015-12-30 16:16] leobalter opened #121 "Proposal: posts and pages API filtering"
Looking at the docs on examples like:

[code]

How about fetching only a small subset of posts and pages directly on `posts` or `pages` methods as:

[code]

On a future this can be also improved to pass a object with more includes like:

[code]

This proposal should regard it might conflict with a way to set what you want from the posts, let's say you only want to fetch the comments:

[code]

Thes

[2016-01-18 13:32] kadamwhite opened #122 "V2 Compatibility"
This should account for the latest state of affairs in the plugin; changes documented here:

- http://v2.wp-api.org/changes-beta-1.html v1 -> v2 change notes
- Beta release notes
  - https://make.wordpress.org/core/2015/04/29/wp-rest-api-version-2-0-beta-1/
  - https://make.wordpress.org/core/2015/05/28/wp-rest-api-version-2-0-beta-2/
  - (where are the beta 3 release notes?)
  - https://make.word

[2016-01-18 13:32] #122 closed

[2016-01-18 13:33] kadamwhite commented on #34
Resolved by the re-write of [kadamwhite/wpapi-vagrant-varietal](https://github.com/kadamwhite/wpapi-vagrant-varietal), which now exists primarily to serve as a test environment target for this library.

[2016-01-18 13:33] #34 closed

[2016-01-19 18:02] #112 closed

[2016-01-19 18:03] kadamwhite commented on #112
Apologies for the delayed response here. The README now contains instructions on [creating](https://github.com/kadamwhite/wordpress-rest-api#creating-posts) and [updating](https://github.com/kadamwhite/wordpress-rest-api#updating-posts) posts, in the "Using The Client" section. Here's the examples, both of which either require the use of a nonce (if you're requesting from the front-end) or the bas

[2016-01-19 18:05] kadamwhite commented on #121
@leobalter Thank you for the suggestion! I've been thinking about ways to implement this and the object form, such as
[code]

[2016-01-19 18:09] kadamwhite opened #124 "Return a subset of superagent's error object to error handlers?"
Superagent's error response is very verbose, and tends to "drown" the actual JSON response received from the API. It might be advantageous to define our own error format that includes only a common subset of superagent's properties, so that the response value is less dependent on the transport library (relevant if we go the route of making this library transport-agnostic or multi-transport, e.g. i

[2016-01-19 18:14] leobalter commented on #121
the way you presented is great because it works better on the single responsibility pattern and it's less magical than jQuery-like methods we are used to (e.g.: `$.ajax`).

Your approach seems as a great approach as you're working on a web application library.

[2016-01-20 01:02] kadamwhite commented on #102
I discussed the currently-supported OAuth flows with @rmccue today in slack; transcript below

[2016-01-20 03:07] mzalewski commented on #102
That server-side plugin sounds interesting, would you consider that?

oAuth 2.0 appears offer a few more options though - combined with the oAuth 2 plugin on WP.org (https://wp-oauth.com/knowledge-base/grant-types/), it might be possible to connect via oAuth without requiring a redirect.

[2016-01-20 03:37] mzalewski commented on #102
What about simply exposing a way to hook into the Auth function and passing off authentication to third-party code/modules?

It could be the easiest option given the number of possible uses of this plugin (eg: web-based, desktop, library)

[2016-01-20 06:39] kadamwhite commented on #102
Oauth support's the most common question we've gotten, so ideally I'd like to have something set up within the plugin itself. Lots of ways to move toward that, though! I finally reviewed the implementation you linked to, it's interesting -- could you walk me through the process of using it within your application's code?

[2016-01-21 05:06] kadamwhite commented on #95
In the intervening year, this has been broken again by the v2 beta upgrades: WP-API/WP-API#924 identifies that `filter` is not currently supported on the `/categories` or `/tags` endpoints.

WP-API/WP-API#2065 has been opened to identify whether this will ever be reinstated; in the mean time, #126 will add a demonstration of using the `?search` parameter to _slightly_ more efficiently retrieve a s

[2016-01-21 06:08] kadamwhite opened #127 "Determine how to handle embedded responses"
When you make a request like `wp.posts().id( 42 ).embed()`, the returned JSON object will exactly mirror the API response you would get in the browser: that is to say, the response object will have an `._embedded: {}` object containing arrays of the embedded versions of linked author, media, and taxonomy term, etc resources.

There are two (and a half) ways we could proceed:

**1:** Leave `_embedd

[2016-01-21 06:09] kadamwhite commented on #127
cc @tkellen as I know you in particular have talked through these questions with regard to JSON API: WP-API doesn't conform to that standard but I'm curious how you all handled embedding.

[2016-01-21 06:12] kadamwhite commented on #102
@mzalewski forgot to respond to the other part of your comment: I would 100% be interested in an add-on to provide https://wp-oauth.com/ compatibility for this client library, but I'm hesitant to implement support for a non-WP-native, paid plugin into the core wordpress-rest-api package.

[2016-01-21 06:46] mzalewski commented on #102
Fair enough - it definitely makes sense to support the official WP authentication methods out of the box.

I'm happy to walk through my fork, but it's been a pretty busy week - I'll free up some time to go through it properly within the next 1-2 days

I'll give a basic overview (from memory):
I've put most of the oAuth handling code into the oAuth1.js file, with some changes to WP-Request.js which

[2016-01-21 06:49] mzalewski commented on #102
Sorry if it's confusing, even I am having trouble reading what I've just written.
I'll see if I can put together a diagram which should explain things more clearly

[2016-01-21 06:51] kadamwhite commented on #102
@mzalewski no problem whatsoever, I appreciate it. I'm going to have some concerted time to work on this in conjunction with the WP-API team at the feelingrestful.com event next week, so if you get a chance to go through it in more detail by Wednesday or so that'd be very helpful; but as time permits this weekend or on the flight I'll take what you've given me already and see what I can make of it

[2016-01-21 07:16] mzalewski commented on #102
Ok great - looks like it'll be a great event :) I'll definitely put some
time aside to go through it before then.

On Thu, Jan 21, 2016 at 4:51 PM, K.Adam White <notifications@github.com>
wrote:

[2016-01-23 21:07] kadamwhite opened #130 "Empty parameter values are not set correctly"
`.search( '' )` produces the query string `?0=s&1=e&2=a&3=r&4=c&5=h` -- this is less than ideal, and is a result of a falsy check for `value` within the `param()` method where we should instead have a check for `undefined`.

[2016-01-27 12:32] mzalewski commented on #102
Sorry - hope I'm not too late.. Here is a basic overview of the process (found on another site).

The dashed lines represent server-to-server communication, and the solid lines are user/browser redirects.

I'll go through the steps in the image and try to match it up with the code I added.
Step A: This is the oauth1.getAuthorizeUrl call - it uses the client ID and secret to request a "Request Toke

[2016-01-27 12:42] mzalewski commented on #102
I've also updated my repository with 2 examples (examples folder) - one is an express app which will redirect the user to WP to obtain authorization, the other asks the user to copy and paste URLs/tokens via the console

[2016-01-28 15:31] justingreerbbi commented on #102
I wanted to stop by and put in 2 cents! I am going to be putting a full strip down native WP version of WP OAuth Server which will be a bare bones server with no license or paid version. DB Structure will be merged to handle consumers just as the OAuth1.0a plugin does.

I am open for helping out where I can.

[2016-01-29 15:27] artoliukkonen commented on #127
I'd personally like **2** the most, since this is the way many other similar APIs work (Facebook, Contentful, etc).

[2016-01-29 15:37] kadamwhite commented on #127
After discussion with @artoliukkonen, @nb, @adamsilverstein & others at the [Day of REST hack day](), this is the proposed implementation:

Within WPRequest, specifically the `returnBody` method, pass the response body (if object) or response collection members (if array) through a transformation function (defaults to identity function). Provide an interface to specify a function to use at this st

[2016-01-29 15:38] tkellen commented on #127
@kadamwhite There must be an existing client library that can do this transformation for you? If there isn't, I would consider writing one completely separate from this lib. Based on my understanding of the purpose of this library I would not expect it to do anything but pass API results back to me unchanged. If you're concerned about making things more usable I would solve that problem by providi

[2016-01-29 15:59] kadamwhite commented on #74
We can take inspiration from how @adamsilverstein has handled this in WP-API/client-js

[2016-01-29 16:00] kadamwhite commented on #83
This can be closed, browserify usage works OOTB.

[2016-01-29 16:00] #83 closed

[2016-01-29 16:28] kadamwhite commented on #130
Closed in #136

[2016-01-29 16:28] #130 closed

[2016-01-29 16:44] artoliukkonen opened #138 "Better support for custom content types"
Currently only way to query custom content types is with .root method.

[code]

It'd be great to be able to define your own custom content types so one would be able to use those just like .posts and .pages . I have some ideas how to achieve this, will try to do a pull request soon.

[2016-01-29 20:55] andreipot opened #139 "Can't authenticate using basic authentication"
hello @kadamwhite
I'm using basic authentication via
var wp = new WP({
            endpoint: URL ,
            username: email,
            password: password,
            auth: true
        });
       wp.users().me().then(function(data){
           resolve(data);
       }, function(err){
           reject(err);
       });

However I get 403 error.
Any idea?

[2016-01-29 21:55] andreipot opened #140 "Can we call custom URL via node cilent?"
Hello @kadamwhite
I'm using **memberpress**(https://www.memberpress.com/) which provides REST api as well. I've installed WP API v2 and on node side i'm using your client.
However, member press API follows this format
wp-json/mp/v1/members/:id
whereas wordpress-rest-client follows this  format
wp-json/wp/v2/***
At the moment, there is no way to point memberpress apis from your client, I can use HT

[2016-01-29 22:03] andreipot commented on #139
I close this issue myself. I've resolved it.

[2016-01-29 22:03] #139 closed

[2016-01-30 15:22] kadamwhite commented on #140
@andreipot As discussed in #138, there's currently not good support for this. The interface I have been hoping to implement would look like this:

[code]

I'd be curious for your thoughts about this interface.

[2016-01-30 15:44] kadamwhite opened #141 "Remove `.version` method from WPRequest: conflate w/ `.namespace`"
After discussion with @rmccue, `wp/v2` as a whole is the "namespace": `rest_register_route` takes that string in as a single value
[code]
As the use of slash-separated name and version is nothing but convention (`/wp1` vs `/wp2` would be equally valid), separating them logically in our client code is misleading and could result in an inability to query against endpoints which do not contain a slas

[2016-01-30 15:46] kadamwhite commented on #140
After discussion with @rmccue the string `mp/v1` taken as a whole is the "namespace"; I have opened issue #141 to track removing the now-obsolete "version" method. Additionally, "base" is a more generic property name for defining a collection endpoint, in the event that a REST endpoint is created for a collection-less resource.

In light of these findings then the `.endpoint` method would be imagi

[2016-01-30 17:16] kadamwhite commented on #141
Fixed in #142

[2016-01-30 17:16] #141 closed

[2016-01-30 23:23] andreipot commented on #140
@kadamwhite  Awesome, I will test it and let you know.
I think what you did is right.

[2016-01-30 23:24] andreipot commented on #140
@kadamwhite  for custom query request, rather than packing them as functions like wp.posts(), we'd rather have it accept custom URL led by namespace and base.

[2016-01-31 08:51] kadamwhite commented on #140
@andreipot can you elaborate or provide an example to show what you mean?

[2016-02-09 15:54] kadamwhite commented on #140
@andreipot pinging you again for feedback here

[2016-02-09 15:55] kadamwhite commented on #51
Related to #140, #144

[2016-02-09 15:55] kadamwhite commented on #138
@artoliukkonen We're discussing options for this in #144 and related issues

[2016-02-09 15:57] kadamwhite commented on #124
This one's a candidate for PRs if anybody's interested in tackling it: the goal would be for the error response passed as `err` in callback-mode response handlers, or to the rejection callback in promise-mode, to be the error object returned from the API (instead of SuperAgent's own error object).

[2016-02-15 17:08] adamsilverstein commented on #74
Wanted to note that with https://github.com/WP-API/client-js I originally built in an initial request for the Schema as part of the load process, I then store the schema model into sessionStorage to avoid repeated requests.

@westonruter added a nice enhancement (see https://github.com/WP-API/client-js/pull/68) by localizing the schema data, which is pretty simple in WordPress: we grab the schema

[2016-02-16 17:46] kadamwhite commented on #74
@adamsilverstein The approach I'm taking with this lib is that either of the following should be valid:

- Provide a set of "defaults," so that the lib can be used OOTB providing that the consumer specifies the API root endpoint (`http://your-site.com/wp-json`, e.g.). If the user's customized their routes this approach necessarily may generate invalid URLs; additionally the lib consumer would need

[2016-02-16 19:10] stompweb opened #146 "Issue with response context"
Sorry, I'm not sure if the title of this is correct but it was as a result with a Twitter conversation with @kadamwhite

https://twitter.com/stompweb/status/699669003669803008

The code that is breaking is located inside my project - specifically here:

https://github.com/stompweb/wp-react-js/blob/master/app/components/Main.js#L37

I have checked the network tab in inspector and I am getting posts

[2016-02-16 19:30] kadamwhite commented on #146
My assumption is that the way we are binding the functions that interact with the provided callbacks is affecting the internal context within the request handler methods; I am working on a unit test to demonstrate whether that's the actual bug.

[2016-02-16 19:42] kadamwhite commented on #146
Hmm. My assumption appears to be invalid; [this works in my integration test suite](https://github.com/kadamwhite/wordpress-rest-api/pull/148/files#diff-988d0724270de39211e5f42f347ca280R383) (linked code copied below):

[code]

@stompweb could you paste the entire text of the error you're getting in the console, or screenshot the devtools error report?

[2016-02-17 00:45] nabeards commented on #146
Possibly related: I'm getting an empty 'body' in my responses from the Version 2.0-beta12 of the WP plugin. Instead, the expected body appears to be in the 'text' key.

E.g.
wp.posts()

(output at wp-request.js line 124)
req.text = "[actual array of the first page of posts]"
req.body = {}

My full response is an object with no posts and just the _paging key:
 { _paging:
   { total: '159',
     tot

[2016-02-17 00:53] nabeards commented on #146
Well, I just disabled another plugin, and now it works fine. Apparently that plugin is removing the response from 'body' and only leaving it in 'text'.

[2016-02-22 16:07] adamsilverstein commented on #74
@kadamwhite - Sounds good. I am moving in a similar direction with the Backbone client. I started with the assumption of a WordPress environment; now i've removed that dependency, you can load the script from anywhere.

I'm still experimenting with the best way to set up the schema when loaded remotely. Lacking localized or preset data options, probably going to require an init call with these pas

[2016-02-22 21:27] MurhafSousli opened #149 "Consider adding a TypeScript definitions file"
I'm using https://github.com/mgechev/angular2-seed for my angular2 app and I want to include wordpress-rest-api in a component file (typescript) but it's not working.

`import * as WP from 'wordpress-rest-api/wp';` gave the error `can't find module`

I also tried ` require( 'wordpress-rest-api/wp' )` gave the error `Unhandled rejection Error: Error on fetch for node.extend.js`

[code]

Thanks.

[2016-02-22 23:58] OutThisLife opened #150 "ie9 - access denied"
Using:

`wp.url('/custom/url').then(cb)`

I'm getting the well-known ie9 cors error. Is there a setting I must set?

[2016-02-23 01:08] #150 closed

[2016-02-24 15:45] kadamwhite commented on #150
@OutThisLife Did you get this sorted out?

[2016-02-24 15:47] kadamwhite commented on #149
@MurhafSousli I am not very familiar with TypeScript but I'll test this out and see if I can figure what's up

[2016-02-24 15:52] MurhafSousli commented on #149
Thank you

[2016-02-25 01:10] andreipot opened #151 "Auth issue."
@kadamwhite  Adam, have questions.

1.How can I authenticate a user using his wordpress account email/password using this library?

2.And once logged in, how can we sustain his information in cookie or whatever and use it for furher access to APIs?

thanks.

[2016-02-25 03:21] andreipot commented on #151
@kadamwhite  here's what I have set up.
backend( wordpress site) : installed wp api v2, member house plugin ,basic HTTP authentication plugin.

frontend: node app.

function authenticateUserWP(email, password) {
  return new Promise(function(resolve, reject){
    var URL = Config.wpapi.endPoint;
   var wp = new WP({
        endpoint: URL ,
        username: email,
        password: password,

[2016-03-10 15:50] akira28 opened #152 "Comments manipulation"
I'm trying to create a complete Wordpress experience using this nice Node library, but now I'm stuck on trying to figure out how to retrieve comments for a specific post (I've tried the documented posts().id(XXX).comments() with no luck, it just returns "undefined"), and, more importantly, how to create a comment for an article, that doesn't seem to be documented anywhere. Am I missing something?

[2016-03-10 16:34] kadamwhite commented on #152
Probably an error in my documentation—I'll look into it and let you know!

[2016-03-12 16:13] tommedema opened #153 "Creating a post with featured image, categories, and tags"
I'm trying to create a post with a featured image, categories, and tags. I think this would be a good addition to the readme.

Could you give me some hints on how to do this? I could submit a pull request for the readme.

[2016-03-14 04:42] kadamwhite commented on #152
@akira28 Thank you for raising this issue; you identified that I completely missed the `/comments` endpoint when I upgraded the client to support the V2 API betas! My apologies for that, it means that querying comments is not currently supported in a robust way. I will attempt to add that functionality back in as soon as we get to a stable place with #145, but for now you can get the comments for

[2016-03-14 05:05] kadamwhite commented on #151
@andreipot The way that authentication works with this client, the request that is being returned will match the authentication you pass in with the request. So if you want to enable your users to log in to your application, then provide them with their own WordPress content, you have two options:

1. Make a new `WP` instance for each user, and instantiate it based on their own login credentials,

[2016-03-14 05:06] kadamwhite commented on #149
I'm not sure what's up with this, @MurhafSousli -- could you put together a gist demonstrating the environment in which this issue occurs? Thanks!

[2016-03-14 05:10] kadamwhite commented on #151
I forgot to respond to your second Q,

Login credentials would need to be stored with the user's information in your node application, either in session or in a database; they would be re-used every time that user made an authenticated request. The WP part of the equation has no sense of persistence, so you can't "log them in" through the API: you instead have to authenticate each request you send

[2016-03-14 05:45] MurhafSousli commented on #149
Well in order to use any external library in a typescript application, we need a typescript definition file for the library

`file.ts`  <=>  `file.js + file.d.ts`

[2016-03-14 09:45] akira28 commented on #152
Fantastic! Thank you very much, I was kinda lost :D

[2016-03-14 13:54] tommedema commented on #116
is this implemented?

[2016-03-17 20:43] yongzhihuang opened #154 "How can I retrieve a draft post?"
[code]
When I try to retrieve an post that is set to draft, I'm unable to retrieve the post.  When I log the error, i got a 403 permission error.

[code]

The user credential i sent to WP is a user with Admin privilege.

Thank you so much for your help!

[2016-03-18 02:10] yongzhihuang commented on #154
Update, I was able to solve it by passing `auth: true` to the constructor object.  It works for a single draft post, but how can I make it work for a list of posts? Basically I would like to retrieve a list of posts that contains both published and drafts.

[2016-03-18 17:16] yongzhihuang commented on #154
Figured it out. I have to chain
[code]

to the request!

[2016-03-18 18:19] kadamwhite commented on #154
@yongzhihuang I'm sorry I haven't been responsive to this issue, I'm currently traveling—but yes, that's the solution! If you have time to make a PR I would love to get that added to the docs, it's definitely an omission; otherwise I'll leave this issue open to capture adding this later.

[2016-03-18 18:21] yongzhihuang commented on #154
@kadamwhite I would love to! Will do when I have a chance.

Separate question: If I wanted to have the `status` field return to me when I'm querying a list of posts, how can I do that?

[2016-03-21 02:00] nbyloff opened #155 "Updating pages/posts with large amount of copy throws error"
I am trying to save a large chunk of data to a post via API, but I am getting an error:

[code]

I printed a few things to the console and noticed that all API requests are GET requests. Looking at the API documentation (and as a REST library), it should be using the POST & DELETE request types for creating, update and delete.

http://v2.wp-api.org/reference/pages/
http://v2.wp-api.org/reference/p

[2016-03-21 08:26] justmarkup opened #156 "Get categories and tags for a specific post"
Is there a way to get all categories and tags for a post where I know the id.

I know there is wp-json/wp/v2/tags?post=[post_ID] and wp-json/wp/v2/categories?post=[post_ID]  - but how can I use this?

I tried to use wp.taxonomies but couldn't find a way?

[2016-03-21 10:58] kadamwhite commented on #156
The easiest way to get these two collections together in one request is to use the `_embed` parameter, accessible trough the .embed() method ― so, `wp.posts().id( x ).embed()`. That will pull down the post response with an extra ._embedded property, which will contain that post's tags, categories, author, and any other linked resource.

As for accessing these resource collections directly from the

[2016-03-21 10:58] #156 closed

[2016-03-21 10:59] kadamwhite commented on #155
@nbyloff Thanks for the report! Could you paste in the code chain you're using to create the request?

[2016-03-21 11:18] kadamwhite commented on #154
@yongzhihuang "status" is a parameter that only appears when you are making a [posts collection query in the "edit" context](http://v2.wp-api.org/reference/posts/), as by default the API assumes that it is being used to display published data. To form a request that includes status, you can switch to the edit context via:

[code]
Hope that helps, let me know if you have any further issues!

[2016-03-21 11:48] justmarkup commented on #156
Thanks a lot @kadamwhite - didn't know about ```forPost()``` - exactly what I need.

[2016-03-21 14:45] nbyloff commented on #155
@kadamwhite sure thing. I am trying to post data to a custom field under pages/posts. The data is "critical CSS"; All CSS styles applied to above the fold content. This is the method where I am attempting this and causes the above error. Since it's a GET request, it fails. Please note, that while it's a custom field, anything default of a significant length (like body content), should fail too.

T

[2016-03-21 16:00] kadamwhite commented on #155
That's unusual, I am trying `.post()`ing data to a local server and the requests are properly coming through as POSTs. Can you elaborate on your server setup, or how you're declaring the custom field?

[2016-03-21 16:37] nbyloff commented on #155
No problem, but I don't think it will help since it's not complaining about saving, but the actual URL being submitted. I thought at first it might be because I am saving CSS, but that wouldn't shoot back an issue with the URL being too long. How long is the content you are submitting in your test? Does it have any HTML in it?

I am going to try testing with the 'content' field, and submit over 10

[2016-03-21 18:00] nbyloff commented on #155
I used this website: http://www.blindtextgenerator.com/lorem-ipsum

Generated two blocks of text. One with 200 characters, one with 1000 characters.

200 characters: no errors
1000 characters: URI Too Long error.

It's not actually saving the text, but that's obviously a me error. Based on the API docs I linked in the OP, POST should be used for create & update, and a DELETE request for post/page

[2016-03-21 18:16] kadamwhite commented on #155
Thanks, I understand the issue but I need to look into why it wouldn't be sending things by POST. I will investigate.

[2016-03-21 18:20] nbyloff commented on #155
@kadamwhite ah gotcha, my bad. With my limited digging, I couldn't find where the module determined which request to use.

[2016-03-21 19:44] nbyloff commented on #155
@kadamwhite Little more information. It looks like the issue is just with pages, not posts.

Posts seem to use a POST, but pages, uses GET. Noticed that I had content updating on posts and not pages, then noticed this in my error log.

(This is for a post, FYI)

[code]

Then this was in my access log (notice the difference between pages & posts).

[code]

Side note/question: Is it possible to upda

[2016-03-21 21:35] kadamwhite commented on #155
Ah, found it -- thanks for the detail, I'd overlooked the issue in the original code snippet. There's a linguistic issue involved in POSTing posts in a chaining API, in that in this library we use the http verbs as chain terminators and request initiators. When you say `wp.posts().id(6).post({})`, we are saying "POST an object to ID 6 within the posts collection." If we want to change it to be a r

[2016-03-21 21:38] kadamwhite commented on #155
As an aside, we're considering aliasing or entirely moving to more English-language-semantic (and less HTML-y) request initiators, such as `wp.pages().create({})` or `wp.posts().id(7).update({})`. I'd be curious on your thoughts on this proposal as a user of the library.

[2016-03-22 02:17] nbyloff commented on #155
Ugh. I totally see that now. I didn't read the docs completely. Glancing at the examples looked pretty straight forward for the small test I was doing. But yes, it works as expected now. It even seems to save my custom meta field data in my original example now. Going to see if it saves the actual CSS data tomorrow instead of my test data.

Personally, I'd like the library to mirror the actual com

[2016-03-22 08:29] dasheck0 opened #157 "Is there a way to retrieve all posts which are older or younger than ..."
Hi,

I was playing around with this library and now I have a special request. I want to fetch all wordpress posts, which are older than a value (represented as unix timestamp or formatted string).  The wordpress api has such a functionality (see https://github.com/WP-API/WP-API/issues/389#issuecomment-149210813).

I know there is a way to add some parameters to the base url in order to get them ap

[2016-03-23 01:46] #155 closed

[2016-03-24 03:17] elyobo commented on #114
Looks like this is possibly working now, e.g. via `wp.types()`, but the 0.6.0 (current npm release) does not work (wrong endpoint in [types.js](https://github.com/kadamwhite/wordpress-rest-api/blob/v0.6.0-0/lib/types.js#L68), fixed in 645ba54).

Any chance of pushing up your more recent tags to npm @kadamwhite?

[2016-03-24 04:52] elyobo commented on #114
#158 is a PR for the changes by @jasonphillips

[2016-03-24 05:05] elyobo opened #159 "Integration Test Documentation"
CONTRIBUTING.md recommends running `npm test`, but it appears that the integration tests have an external dependency on wpapi.loc (presumably some setup running locally?).  If there was some documentation available on how to run this it would allow us to verify that our changes don't break the integration tests either (and to add our own).

[2016-03-24 16:28] kadamwhite commented on #159
Thanks for the catch, that's good feedback. I'm presenting on the library on Monday and hope to have some time to work on it over the weekend, so I'll see what I can throw together -- but the gist of it is, download and `vagrant up` with https://github.com/kadamwhite/wpapi-vagrant-varietal (misnomer as it is not formally a VVV derivative anymore) -- that'll pull down sample content and expose the

[2016-03-24 21:06] elyobo commented on #159
OK, that's pretty straightforward, I followed the steps on the wpapi-vagrant-varietal repository and had no problems.

Perhaps just mentioning that users can run `npm test:unit` to run only the unit tests or, if they want to run the integration tests as well (which should be recommended) they'll need to set up the VM and to follow the steps there.

[2016-03-24 21:50] kadamwhite commented on #159
@elyobo Good suggestion. If you're interested in sending a PR I'll merge it straight away, otherwise I'll leave this issue open to capture improving the docs.

[2016-04-19 06:32] vtripolitakis commented on #153
Hello, I 've got some code here. Currently, it's quick and dirty. For the image upload I use the request module. Have a look:
https://github.com/vtripolitakis/nscrape/blob/master/wordpressUtil.js

[2016-04-26 21:54] sandro-pasquali opened #162 "clearing taxonomies"
I was wondering if there is a quick way for me to replace tags on a post with a new tag set. Currently if I post a set of tags the existing set will essentially become the union of previous + posted tags. I want to replace the existing tag set entirely with the new set, regardless of what existed before.

[2016-05-03 20:35] #162 closed

[2016-05-10 05:43] aedensixty opened #163 "Posting into custom post type"
Posting a new post into a custom post type?

Is this possible or am I just doing it wrong.

I tried 'wp.posts().type('travels').post({' and wp.posts().post({type: "customtype"'.

I also tried using the custom post type endpoint when initialising 'http://site.local/wp-json/wp/v2/customtype'.

[2016-05-10 05:54] aedensixty commented on #163
I think I just read in the docs that custom post type has been temporarily removed. Would it be possible to know long will this functionality take to be reinstated?

[2016-05-10 10:25] kadamwhite commented on #163
@aedensixty Getting CPT's back in is a priority of mine for the coming two weeks, actually; so if you don't see movement in that time, feel free to bug me about it :)

[2016-05-11 01:06] aedensixty commented on #163
Sounds good and you can be sure I will, haha.

[2016-05-17 18:31] kadamwhite commented on #159
Closed by merging your PR, thank you!

[2016-05-17 18:31] #159 closed

[2016-05-17 18:31] kadamwhite commented on #154
@yongzhihuang I'm going to close this as provisionally solved, if you're still having trouble please re-open and let me know what issues you might be experiencing.

[2016-05-17 18:31] #154 closed

[2016-05-17 18:42] kadamwhite commented on #152
@akira28 Took a bit, but I just released [v0.7.0](https://www.npmjs.com/package/wordpress-rest-api) with a new `wp.comments()` endpoint handler. By default it only supports `wp.comments.id( n )` to get a specific comment by ID, and `wp.comments().forPost( n )` to get the comments for a given post; but you have access to `.param` so additional [comments query parameters](v2.wp-api.org/reference/com

[2016-05-17 18:42] #152 closed

[2016-05-26 17:57] jsteranko opened #166 "Raw Content"
It there currently any way to retrieve raw content instead of rendered content?

[2016-05-26 19:07] kadamwhite commented on #166
@jsteranko there is! If you authenticate and pass `.param('context', 'edit')`, you should see those raw values come back in the returned response.

[2016-06-02 08:29] smedegaard commented on #116
@kadamwhite, you marked this as ready but he issue is still open. What is the status? WIll we be able to use `wp.media().post()` for uploading media ?

[2016-06-02 13:39] kadamwhite commented on #116
That's still the plan -- but "ready" in this case is a side-effect of our waffle.io setup, and just means this ticket is ready to be started, not that it's finished. Apologies for the ambiguity

[2016-06-03 05:25] BenHen75 opened #167 "Post with ACF value"
Hi,

Thanks for this plugin API.

I am trying to add or update a post with an ACF value (https://www.advancedcustomfields.com/), like:

[code]

I activate acf-to-rest-api (https://github.com/airesvsg/acf-to-rest-api) and WP API 2.0 on my wordpress site.

It doest work, maybe because to update acf value it's another endoint:
`endpoint: 'http://website.com/wp-json/acf'` but authorization fail if I c

[2016-06-03 13:27] chrishutchinson commented on #163
Hey @kadamwhite - any movement on CPT support?

[2016-06-04 16:28] kadamwhite commented on #140
Closing this as dupe of other arbitrary-endpoint support, @andreipot if you still have a specific concern please feel free to re-open with more explanation.

[2016-06-04 16:28] #140 closed

[2016-06-04 18:28] kadamwhite commented on #146
Looking at your response it sounds like the bug isn't part of this library; I will close this. If you discover anything further please feel free to re-open

[2016-06-04 23:23] kadamwhite commented on #149
@MurhafSousli TypeScript support is not a current roadmap priority _vs_ missing features, but if you're able to put together a definition file I'd be happy to merge it in as a PR.

[2016-06-04 23:43] kadamwhite commented on #157
@dasheck0 You could do this with `.param( 'before', 'timestampstr' )`, but this is common enough functionality that I think we should add filter methods for it (so you can do `.before( 'timestampstr' )`, etc). Thanks for pointing out that had been added to the WP-API, I'd missed those PRs!

[2016-06-07 15:46] jsteranko commented on #166
Thanks @kadamwhite !

So it appears if I use that param, I lose the category filter, unless I'm doing something wrong. Example:

    function getAllPosts(req, res){
        wp.posts().auth().param('context', 'edit')
            .then(posts => {
                return res.status(200).json({success: true, posts: posts});
            })
            .catch(err => {
                return res.status(40

[2016-06-08 06:31] satish9323 opened #169 "Load Comments for posts not working."
uncaughtException: wp.posts(...).id(...).comments is not a function

[2016-06-08 06:39] aedensixty commented on #169
Can't remember why but I had to do something like this to get comments:

Obviously you can see I am also using a promise and handling errors for posts without comments, etc.

[code]
Simplified

[code]

[2016-06-08 13:00] kadamwhite commented on #169
@satish9323 Thanks for raising this, it's a major area of the API (i.e. this module's interface, not the "WP-API") that we're not satisfied with—the way that I converted the route builders from using the WP-APIv1 routes to use the new WP-APIv2 system "works," but broke the hierarchical relationship between comments and posts. To get comments, you now need to start from `wp.comments()` directly:
[c

[2016-06-08 13:00] #169 closed

[2016-06-08 13:07] kadamwhite opened #170 "Consider re-introducing e.g. `posts().id( n ).comments()`"
This issue captures thinking through the implications of reintroducing `posts.id( n ).comments()` (or `.tags()` or `.categories()`), which were removed when the API went from this structure:
- `posts/<id>`: post
- `posts/<id>/comments`: comments collection
- `posts/<id>/comments/<comment-id>`: specific comment

to
- `posts/<id>`: post
- `comments?post=<id>`: comments collection
- `comments/<commen

[2016-06-09 05:12] aedensixty commented on #163
Any news on this?

[2016-06-09 14:04] jsteranko commented on #166
@kadamwhite or anyone else - what am I doing wrong here (feel free to message me directly and close this)

[2016-06-10 10:19] satish9323 commented on #169
Thanks @kadamwhite . It worked.

[2016-06-10 10:21] satish9323 opened #173 "Post comment"
I can not find anything related to post comments from wordpress-rest-api docs. Is it there and I am missing something ??? How can we post comments on posts ?? Please guide.

[2016-06-13 00:32] kadamwhite commented on #166
@jsteranko Unfortunately the options object you pass to `wp.posts()` doesn't have any ability to affect the query parameters of the response. To get a comment, you'd need to do this:
[code]
Give that a try and let me know if it works out!

[2016-06-13 14:11] jsteranko commented on #166
Works great. Thanks, and closing

[2016-06-13 14:11] #166 closed

[2016-06-14 02:02] kadamwhite opened #174 "Retry with POST and `_method` if PUT, PATCH or DELETE fail"
From [WP #core-restapi slack channel](https://wordpress.slack.com/archives/core-restapi/p1465869022000022)

[2016-06-16 05:19] kadamwhite commented on #173
You should be able to create a comment in the same basic way you [create a post](https://github.com/kadamwhite/wordpress-rest-api#creating-posts), using [these properties supported by the comment object](http://v2.wp-api.org/reference/comments/):
[code]
Please re-open the issue if you run into trouble with that approach and we can help you troubleshoot—Thanks for using the library!

[2016-06-16 05:19] #173 closed

[2016-06-16 05:23] kadamwhite commented on #167
@BenHen75 Thanks for opening this, we've got support in the works ( #176 ) for custom routes like ACF and other recent changes ( #145 ) set us up to automatically create a `wp.namespace( 'acf' )...` handler method if your site is detected to be using that plugin, but neither piece of functionality is live yet. Please take a look at #176 and let me know if you think it would suit your needs, and ke

[2016-06-16 05:24] kadamwhite commented on #91
Going to close this because basic integration test support has been added ( #123 #147 #148 #160 etc). It is not comprehensive but that will be an ongoing effort.

[2016-06-16 05:24] kadamwhite commented on #51
This is provisionally resolved by #176

[2016-06-16 05:26] kadamwhite commented on #5
This has been deemed out-of-scope for the API as it is currently conceived; this would be a transformation the user would pass their data through when it is returned from the server, and is therefore something that they would be responsible for implementing to their needs. In pseudocode,

[code]

[2016-06-16 05:26] #5 closed

[2016-06-16 05:27] #91 closed

[2016-06-16 05:41] kadamwhite opened #178 "Support all generally-supported query parameters in WPRequest itself"
Per WP-API/WP-API#924, a wide set of query parameters have or will eventually have support with the majority of built-in routes within the API. While there is no guarantee that these routes will be supported by custom endpoints, including them in WPRequest so that they are available to custom routes by default without the sue of a mixin could make it easier to interact with searchable or queryable

[2016-06-16 05:44] kadamwhite opened #179 "Support date range methods"
( Possible subtask of #178 )

From #157: Since WP-API/WP-API#2266 added additional date range-related query parameter support, we should _absolutely_ be including convenience methods for these parameters in the API (that support a date string or a Date object) to enable more intuitive date range querying within supported collections.

[2016-06-16 05:44] #157 closed

[2016-06-16 05:44] kadamwhite commented on #157
Closed in favor of #179 which states the enhancement specifically

[2016-06-16 22:12] jupitercow commented on #163
I am going to keep an eye on this library, but I switched to using using straight [SuperAgent](https://github.com/visionmedia/superagent), and it has been pretty great. Full API, and only have to manage one documentation (once you get the hang of SuperAgent).

There a lot of great work going on here, and the next step sounds like it going to be awesome, so definitely interested in checking that ou

[2016-06-16 23:25] kadamwhite commented on #163
@jupitercow totally understandable, development lagged for a while. When you already have the URL for the resource you want super agent is a good solution, this is after all little more than a query builder :) If you have time I would welcome your input on #176, which will likely merge and be released in the next 48 hours barring substantive API questions or criticisms

[2016-06-24 14:43] kadamwhite commented on #56
This is superceded by autodiscovery in the long term, and currently supported via `.registerRoute`

[2016-06-24 14:43] #56 closed

[2016-06-24 14:43] kadamwhite commented on #51
This shipped as `.registerRoute` in #176

[2016-06-24 14:43] #51 closed

[2016-06-24 14:45] kadamwhite commented on #138
`.registerRoute` (#176, merged) and Auto-discovery (#74, WIP) are the resolution for this, and those issues supersede this one.

[2016-06-24 14:45] #138 closed

[2016-06-24 22:24] #74 closed

[2016-06-24 23:46] kadamwhite commented on #95
The "slug" query parameter is now supported by the WordPress REST API for the `tags` and `categories` endpoints. https://github.com/WP-API/WP-API/issues/924

[2016-06-24 23:46] #95 closed

[2016-06-25 13:44] bt opened #184 "Allow insecure/self-signed certificate connection"
I'm trying to use this with a WordPress installation that I have, but it currently has a self-signed certificate, so I end up with a `Error: self signed certificate`.

Is there a way I can force it to connect?

[2016-06-25 13:55] bt commented on #184
Found a hacky fix, which is to add the following line before `require('wordpress-rest-api');`

[code]

Still, would be good to get this documented in the README.

[2016-06-25 14:46] z-avanes opened #185 "how can upload media?"
is there any way to upload media?

[2016-06-27 15:29] kadamwhite commented on #184
Thanks for the report, @bt! If you could submit a pull request documenting this nuance that would be great, otherwise I'll try to tackle this soon.

[2016-06-27 15:30] kadamwhite commented on #185
There should be, this needs to be tested and documented. Thanks for the reminder, this has been noted as a deficiency in #116 as well—Now that auto-discovery is sorted I'm moving this up in priority, so hopefully we'll have an answer for you this week!

[2016-06-27 15:47] bt commented on #184
Easy done! :)

[2016-06-27 20:23] z-avanes commented on #185
thank you so much. i will be waiting for this new feature
i am working with uploadFile feature in xml-rpc client https://github.com/scottgonzalez/node-wordpress and handel my demand but i have one problem with this method ( when upload media can not define alt and name for it ) if you can wp api allow please add this feature to wordpress-rest-api
thanks

[2016-06-29 06:15] bt commented on #184
Haha, I just realised I noobishly made the PR against my own local repository instead of yours. Here it is again, #186

[2016-07-04 14:57] #184 closed

[2016-07-04 15:11] kadamwhite commented on #114
This should be resolved as of v0.8, which fully supports custom post types through automatic discovery, through bootstrapping or through `registerRoute`

[2016-07-04 15:11] #114 closed

[2016-07-04 15:12] kadamwhite commented on #106
This should be resolved as of v0.8, which fully supports custom post types through automatic discovery, through bootstrapping or through `registerRoute`

[2016-07-04 15:12] #106 closed

[2016-07-04 15:15] kadamwhite commented on #149
@MurhafSousli One wrinkle in providing a typescript file is that the functions available to the API client now depend on the discovery or bootstrapping process; given the customizability of a WordPress install it is actually not possible for us to authoritatively specify all available methods up-front, since a site might not even provide `.posts()`, _e.g._. I am not confidant about how to proceed

[2016-07-04 15:15] #149 closed

[2016-07-05 05:50] MurhafSousli commented on #149
@kadamwhite Hi, I'm sorry I didn't respond I just read it now, I don't really know how to make definition file for a javascript library, so I had write my own service file in typescript.

[2016-07-08 03:26] sebastienbarre commented on #139
How did you solve it, if I may ask?

[2016-07-08 03:28] sebastienbarre commented on #87
Which server settings, if I may ask? I'm having issues to authenticate...

[2016-07-08 03:54] kadamwhite commented on #87
@sebastienbarre what sort of trouble are you running into? Can you let us know the version of the WP-API plugin and basic Auth plugin you are using, and what server you are using? (E.g. Apache vs Nginx?)

[2016-07-08 03:59] sebastienbarre commented on #87
Thanks for the quick reply @kadamwhite.
The issue comes from WP-API/Basic-Auth, which needs to be patched to support PHP in CGI/FastCGI mode. A PR was [submitted back in March](https://github.com/WP-API/Basic-Auth/pull/32), this would be greatly helpful.

[2016-07-08 08:43] satish9323 opened #188 "Sort comments"
Hi,

Is it possible to sort the comments as I want latest comment first ?? I tried .filter() and its not working.

[2016-07-08 12:40] sebastienbarre commented on #166
Thank you, this helps. However, is it possible *not* to get the rendered content? This triggers any plugin that handles shortcodes and such, potentially making additional API queries for those that handle media like Flickr or Instagram.

[2016-07-08 15:22] kadamwhite commented on #166
@sebastienbarre That is an interesting question; I am not sure there is a way to do that currently. I would encourage you to [open an issue on the Main WordPress REST API repository](https://github.com/WP-API/WP-API/issues/new), because the answer depends on the core plugin and not on this client.

[2016-07-08 17:50] kadamwhite commented on #188
You should be able to do this with `.param( 'order', 'desc' )` (as opposed to 'asc', ascending). The [comments collection supports](http://v2.wp-api.org/reference/comments/) (see "list comments" section) both `order` (asc or desc, for ascending or descending) and `orderby` if you want to order by something other than date_gmt.

That said, I suggest [opening an issue on the main WP-API repository](

[2016-07-08 17:50] #188 closed

[2016-07-09 15:11] DCKT opened #189 "ACF to WP API crash"
Hello,

When I enable the ACF to WP API plugin, the server respond a 500 internal server error with just this code
[code]
I tried some fix but nothing works (namespace etc..)

Have you got an idea ?
Thanks :)

[2016-07-09 19:00] kadamwhite commented on #189
Can you paste the error you get back?

[2016-07-09 19:03] DCKT commented on #189
[code]

[2016-07-11 04:16] kadamwhite commented on #189
I'm stumped on this one; when I hit the URL indicated in your error and I get content back as expected, and the `wp.pages().path( 'join-us' )` query is working for me against your domain as well.

From what sort of server is this request being made? Is the error still occurring?

[2016-07-20 19:04] joneslloyd opened #191 "Usage without WP-API Plugin"
Hi there,

I think I already know the answer to this, but want to ask to be absolutely sure:

Is there any way of using this without having the WP-API plugin installed? The reason being, I want to release a stand-alone WordPress plugin (coded in React) using node-wpapi, and I can't tell users to download another plugin (WP-API) first before mine works.

Just want to be doubly sure on this before I

[2016-07-20 20:11] kadamwhite commented on #191
Are you going to be using the native routes, such as /posts and /comments; or are you going to be defining your own routes? If the latter, you should not need the API plugin installed, as the infrastructure for creating routes I believe to be part of WordPress core itself.

If you wish to use the routes the WP-API plugin provides for base WordPress content types, then yes, you will need your users

[2016-07-21 11:16] joneslloyd commented on #191
Thanks for getting back to me!

A custom endpoint solved it - I can still use `node-wpapi` :) Cheers

[2016-07-21 11:16] #191 closed

[2016-07-24 05:18] mrkrumhausen opened #192 "Create post"
I can't seem to add a post. I'm getting this error when I follow the example in the readme:

Code:
[code]

I also tried to change it to wp.posts().post which gives me this error:

[2016-07-24 12:22] kadamwhite commented on #192
Can you share the version of the module that you are using, as well as your current version of node ? Thanks!

[2016-07-24 16:15] mrkrumhausen commented on #192
Sure!
wpapi 0.8.0,
Node v5.1.0

[2016-07-25 16:22] kadamwhite commented on #192
@mrkrumhausen I'm not sure what to make of this, the [integration test](https://github.com/WP-API/node-wpapi/blob/master/tests/integration/posts.js#L305) for this functionality is working as expected. What approach are you taking to generate the `wp` object; `WP.site()`, `new WP`, `WP.bootstrap`?

[2016-07-25 16:30] kadamwhite commented on #189
@DCKT Checking in to see if this issue is still occurring for you. Can you share as well your node version, and the version of the WP-API and ACF to WP-API plugins that you are using?

[2016-07-25 16:41] kadamwhite commented on #163
Closing as provisionally solved by the custom post type support introduced prior to the current v0.8; please open a new issue if you have future difficulties.

[2016-07-25 16:41] #163 closed

[2016-07-25 16:42] kadamwhite commented on #102
Tagging https://github.com/joehoyle/wordpress-rest-api-oauth-1 as a potential source of inspiration or code for this situation

[2016-07-25 16:52] kadamwhite commented on #151
@andreipot I wanted to check in with you on this, I am closing the issue due to lack of response but please re-open it if you have further questions!

[2016-07-25 16:52] #151 closed

[2016-07-25 16:54] andreipot commented on #151
@kadamwhite  thanks. I resolved this myself longtime ago. But I really appreciate your help.

[2016-07-25 18:20] mrkrumhausen commented on #192
[code]

Error message in terminal:

[code]

[2016-07-25 19:37] kadamwhite commented on #192
OK, the issue looks like you're not authenticated with the host. You'll need to use the basic auth plugin, and provide a `username` and `password` when creating the WP object, as per the Authentication instructions in the README. For example:

[code]

Let me know if that works! OAuth support is a known shortcoming of this library, we're working on it but it's taking a while so you can also check o

[2016-07-25 19:39] kadamwhite commented on #151
@andreipot Great to hear it! If you have any suggestions of how we could improve the documentation around this, please don't hesitate to suggest them. All the best!

[2016-07-25 19:51] mrkrumhausen commented on #192
Ok thanks. I'll check that out. I am authenticating with a wp user. I created a new wp test-user and gave it editor rights.

[code]

[2016-07-25 19:55] kadamwhite commented on #192
Just to try to cover all the bases, do you have the [Basic Auth plugin](https://github.com/wp-api/basic-auth) installed and activated?

[2016-07-25 22:32] joneslloyd opened #193 ""_.pluck is not a function" error"
Great JS client, and works really well.

One issue I've found is that when using it in the WP Editor area (as part of a JS-fuelled WordPress plugin using React), I get the following console errors:

[code]

and

[code]

I've extensively tested and turned everything else off/on, and only when I remove the node-wpapi library from my webpack file (therefore not including it in my project) do the abov

[2016-07-26 00:40] mrkrumhausen commented on #192
Yes. That helped. Thanks! Didn't know I needed that extra plugin. It says it's for development?!

Maybe add that to the documentation?

[2016-07-26 01:18] mrkrumhausen commented on #192
Another question :)
How do I add categories, tags and custom fields when creating posts?

[2016-07-26 01:21] kadamwhite commented on #193
Interesting indeed! You're enqueuing a single, webpack'd file, then, I take it? I'm perplexed as to why the lodash reference would be conflicting with anything. Are you defining aliases for `_` anywhere in your webpack config, by any chance?

[2016-07-26 01:25] kadamwhite commented on #192
@mrkrumhausen Can I ask you to ask that other question in a new issue? :) I'm going to close this one.

As to the documentation note, we currently mention the basic auth plugin both in the [authentication section](https://github.com/WP-API/node-wpapi/#authentication) of this plugin and the [authentication guide](http://v2.wp-api.org/guide/authentication/#application-passwords-or-basic-authenticati

[2016-07-26 01:25] #192 closed

[2016-07-26 01:30] mrkrumhausen opened #195 "How to add categories, tags and custom fields when creating posts?"
This doesn't seem to work for me
[code]

[2016-07-26 01:32] mrkrumhausen commented on #192
Maybe change the structure of the readme so there is a section on methods/function, authenticate would be a standalone title. You could bold the line where you call out that another FB plugin is needed.

[2016-07-26 01:43] kadamwhite commented on #192
Good suggestion, thank you! We're close to v0.9 (with media support) and could sneak a docs reorg in there.

[2016-07-26 01:46] kadamwhite commented on #195
I'm AFK for the night, but at a first glance: try replacing the "category" property with a `.categories` array, containing the numeric IDs of the categories to add, rather than the slugs. (Possibly the same slug -> ID change will be needed with tags, as well; all WP internal relationships are governed by ID, because slugs are mutable public-facing data). See more about the properties accepted by t

[2016-07-26 01:47] kadamwhite commented on #195
If that doesn't work, please paste the error you get back and we'll continue the conversation in the morning! Thanks much.

[2016-07-26 01:57] mrkrumhausen commented on #195
Cool. Thx

I added .tags(25) but it didn't work. It gave me this error:

`wp.posts(...).id(...).post(...).tags is not a function`

I'm not sure how to reference a specific post and then add a tag to it.

[code]

[2016-07-26 04:43] kadamwhite commented on #195
The chaining methods `.category` and `.tag` are only for filtering collections; if you're creating a post, you'll want to include the `.tags` or `.categories` arrays in the post data object, as you had it in the initial post up above. So, if we imagine 'vegan' is tag ID #1, 'dinner' is ID #2, category 'berlin' is ID #3, and 'copenhagen' is #4:

[code]
Hope that helps!

[2016-07-26 04:58] kadamwhite opened #196 "Release built files through docs site every version"
Individual files and/or a zip of the webpack-built files (and their sourcemaps) can and should be made available via the generated docs site, possibly the zip can be created by https://github.com/twolfson/grunt-zip

[2016-07-26 06:58] joneslloyd commented on #193
Yes! Re: The single webpack'd file. And only jQuery! Pretty odd...

On 26 Jul 2016 2:21 am, "K.Adam White" <notifications@github.com> wrote:

[2016-07-26 07:44] joneslloyd commented on #193
Ah, I wonder if it's related to this: https://core.trac.wordpress.org/ticket/35181 (Lodash needing to be put into noConflict mode due to Underscores conflicts) ?

[2016-07-26 07:53] joneslloyd commented on #193
Ah - solved it (for me) !

In:
`/wpapi/lib/mixins/filters.js`
`/wpapi/lib/mixins/parameters.js`
`/wpapi/lib/constructors/wp-request.js`
`/wpapi/tests/integration/categories.js`

I changed, in each instance, `var _ = require( 'lodash' );` to:
[code]

Now everything works perfectly :)

[2016-07-26 07:53] #193 closed

[2016-07-26 11:25] kadamwhite commented on #193
Awesome, thanks for the update. Lodash is going away in favor of individual Lodash sub modules in 0.9, so this ought not be a problem again in the future; but good to know what's the reason was!

[2016-07-27 15:54] mrkrumhausen commented on #195
It works, but I'm curious - is there no way to add tags or categories using slugs? Not even a hack just for development purposes?

[2016-08-03 16:51] joneslloyd opened #198 "Multiple dynamic properties in endpoint"
Hi there,

I'm trying to do something like this:

[code]

Where I have a post (signified by ID), and a piece of meta, which (due to being stored in an array) has its own ID, labelled here as a "Title UID".

When I try the above code, I get the JS console error:
[code]

On the PHP side of things, I have an endpoint registered like so:
[code]

Do you know what could be up?

[2016-08-05 07:11] elyobo opened #199 ""method .parent() is already defined" when creating a new client"
Creating a client with an endpoint always complains about trying to overwrite the `.pages.parent()` method.  Everything still works, but the message is annoying (and noisy in the logs).

[code]

[2016-08-05 12:22] kadamwhite commented on #198
Nope, but I will investigate!

[2016-08-05 12:24] kadamwhite commented on #199
Thanks for the issue, @elyobo -- that's a great point, I've added a PR to suppress the warning. The situations where it will provide useful information are greatly outnumbered by the situations where it just provides too much noise.

[2016-08-05 12:25] joneslloyd commented on #198
Thanks a lot! Super project by the way. This issue is the one current bug in the way of me completing my integration :)

[2016-08-05 12:26] #199 closed

[2016-08-05 12:28] kadamwhite commented on #199
Resolved, and the beta tag has been updated with the latest master

[2016-08-05 12:37] elyobo commented on #199
Great, thanks for such a quick resolution to such a minor issue :)

On Fri, 5 Aug 2016, 22:29 K.Adam White <notifications@github.com> wrote:

[2016-08-05 13:34] kadamwhite commented on #198
@joneslloyd Thanks! Looks like the issue is that the library assumes a `snake_case` parameter identifier, not a `camelCase` identifier -- so `titleUid` is tripping up the system, because the token is lowercased when creating the method name and therefore gets assigned as `titleuid` instead.

One unrelated (and totally unsolicited) comment I might make about your URL scheme is that it looks like yo

[2016-08-05 13:41] #198 closed

[2016-08-05 13:41] kadamwhite commented on #198
If you `npm install wpapi@beta` this should now be working as you expect—please re-open the issue if not. Much obliged for the bug report, and thanks for using the library!

[2016-08-05 14:21] joneslloyd commented on #198
Ah-ha! Got it! I'll do just that and let you know if not working :)

You're right re: My nomenclature on the URLs - I need to change that.

Thanks again, and I'll let you know if & when I find anything.

Over & out!

[2016-08-05 19:01] kadamwhite commented on #195
@mrkrumhausen I do not believe so, but that'd be a good question to ask over on the [main WP REST API repository](https://github.com/wp-api/wp-api).

I'm going to close this out, thanks for raising the issue and let me know if you run into any further trouble!

[2016-08-05 19:01] #195 closed

[2016-08-05 19:08] kadamwhite commented on #116
This is now [supported](https://github.com/WP-API/node-wpapi#uploading-media) by v0.9!

[2016-08-05 19:08] #116 closed

[2016-08-05 20:27] sdgluck opened #203 "Question: filtering custom content types?"
Is the `filter()` method and its associated convenience APIs, e.g. `author()`, available for a custom content types? For example, `wpapi.news().filter()` doesn't work for me?

I can't see anything in the docs that suggest this shouldn't work.

Thanks :+1:

[2016-08-05 20:35] sdgluck commented on #127
I would agree that the second approach is most desirable. In fact I produced the [`wp-api-response-modify`](https://github.com/outlandishideas/wp-api-response-modify) lib to accommodate this for [kasia](https://github.com/outlandishideas/kasia). At least, that was the intention, but having tested it in the wild it seems the implementation is lacking somewhat! Would love to collaborate with you all

[2016-08-05 21:22] akmur opened #204 "Update taxonomy term query methods to utilize latest API changes"
Hello,
great job on this package. I am trying to find a way to filter out a category from my posts collection, is it feasible? I tried using something like -1 (where 1 is the id of the category), similarly to what is done in WordPress custom loops, but it won't work.

Any idea is appreciated, thanks!

[2016-08-09 22:23] kadamwhite commented on #203
Hey @sdgluck ! To clarify what you're asking, are you using autodiscovery or registerRoute?

[2016-08-09 22:24] kadamwhite commented on #204
Hey @akmur, thanks for the question. I just returned from holiday and I'm getting things back in order, I'll dig in to what would be necessary to accomplish what you want in the next couple days; apologies for the delay.

[2016-08-10 08:58] sdgluck commented on #203
`registerRoute` :-)

[2016-08-10 09:14] akmur commented on #204
Actually I just retried and it would seem like it does work, I don't know why it was not working before, probably some mistake of mine.

I was able to get this to work

`wp.posts().category(-67).then(function( data ) {
          res.render('posts', { posts: data });
});`

So I'd say it's already implemented, maybe you could just doublecheck it :)

Thanks a lot

[2016-08-10 14:56] sdgluck commented on #203
Aha! After reading the code I have discovered that the `registerRoute` method accepts a mixins object in its `options` argument.

What's the reason for these being mixins and not default methods available on the registered route method?

[2016-08-10 22:10] #196 closed

[2016-08-11 19:21] wblaircox opened #206 "Right way to call wp.users().me()"
After nearly two weeks of trying to get WP-API working for my simple project/use, I've landed here thanks to @kadamwhite. I'm running a simple JS app within a Wordpress page. I want to save data specific to the logged-in user to the database. Using WP-API is ideal for this in my case. I'm nearly there, finally! Except for that bloody infuriating authentication again. I'm accessing draft/private po

[2016-08-12 14:09] wblaircox commented on #206
As with all the other methods of using WP-API, I can get it to work just fine for published posts. But authentication escapes me. Does anyone have any tips or suggestions on what I'm doing incorrectly?

[2016-08-12 15:57] kadamwhite commented on #206
@wblaircox we've got a guide in progress that'll help you out a lot, I'm slammed with day job rn but will try to get it online within the next day.

[2016-08-12 21:27] #206 closed

[2016-08-12 21:29] kadamwhite commented on #206
@wblaircox let us know if this does the trick: http://wp-api.org/node-wpapi/guides/2016/08/12/authenticating-with-cookies.html

[2016-08-12 21:30] kadamwhite commented on #206
As a side node, `wp.users.me()` will retrieve the record for your user, once logged-in; `wp.posts().param('status', 'draft').etcetera` will not be chained off of the call to `.me()`.

[2016-08-13 17:06] wblaircox commented on #206
@kadamwhite well that finally worked perfectly, once I made a few tweaks to my code - thanks!!!!!  I have custom fields I'm using to store my data in the posts. **I'm just trying to figure out where the custom fields are in the JSON returned**. Is there something else I need to do to get this to appear using node-wpapi? It was buried before in the Backbone structure.

Cheers!

[2016-08-13 17:14] kadamwhite commented on #206
@wblaircox I'd check out [register_rest_field](http://v2.wp-api.org/extending/modifying/) to ensure those fields get included in the returned JSON. Hope that helps!

[2016-08-13 17:39] wblaircox commented on #206
@kadamwhite  HA!!! that only took 2 weeks!!! But, I've learned a great deal around using WordPress for far more than I have in the past. Thank you very much for all your assistance - that article you wrote last night was the missing key to properly using this.

[2016-08-15 16:10] kadamwhite commented on #153
Bumping an old docs issue, @tommedema @vtripolitakis v0.9.1 (live now on NPM) contains [media upload support](https://github.com/wp-api/node-wpapi#uploading-media) -- if you use it and encounter any issues please let us know, I'm be working on a [guide](http://wp-api.org/node-wpapi/) for this functionality but would encourage you to write your own too, if you want to!

[2016-08-15 20:35] #153 closed

[2016-08-15 23:45] #179 closed

[2016-08-16 12:04] kadamwhite commented on #189
@DCKT Since we haven't heard back I'm going to assume you got this working and close this out; if not, please re-open and we can continue the discussion!

[2016-08-16 12:04] #189 closed

[2016-08-16 12:06] kadamwhite commented on #167
I'm provisionally closing this out as resolved by the registerRoute method added in a previous release, but @BenHen75 if you find the custom route support doesn't solve your problem please re-open the issue so we can get you sorted.

[2016-08-16 12:06] #167 closed

[2016-08-16 12:11] kadamwhite commented on #204
@akmur after digging into this, there's a lot of inconsistency over how the `cat` filter parameter is handled by the API; and internally, we weren't always accurate about how we tracked method inputs. if your test somehow ended up trying to pass `category()` a string, like `'-67'` instead of `-67`, it probably would not have worked. I've got a branch that takes care of that, and intend to raise th

[2016-08-16 12:14] kadamwhite commented on #185
@z-avanes I forgot to come back to this issue, apologies -- we've got media support as of the latest release, you can see the [documentation](http://wp-api.org/node-wpapi/using-the-client/#uploading-media) and a related [user guide](http://wp-api.org/node-wpapi/guides/2016/08/15/create-a-post-with-featured-media.html) on our docs site. I'm going to close this out as provisionally resolved but if t

[2016-08-16 12:14] #185 closed

[2016-08-16 13:36] z-avanes commented on #185
if find problem report in new issue
thank you @kadamwhite

[2016-08-18 02:47] kadamwhite commented on #102
Picked this back up today and wrote this script, which (if combined with the fix in WP-API/OAuth1#155) will follow the out-of-band three-legged OAuth1.0a flow to get the verification code needed to authorize requests. It is the starting point for further work to actually sign the requests within WPRequest.

A challenge for OAuth handling is going to be how we can design the transport/library seam

[2016-08-18 15:08] kadamwhite commented on #102
Related reading:

- Unclear why [this gist](https://gist.github.com/kadamwhite/b9228cd5d301977c574e90dcc88bbcbc) is failing (code based on Joe Hoyle's library); I've requested his review, time permitting
- https://www.npmjs.com/package/oauth-1.0a#client-side-usage-caution
- [OAuth plugin docs around credentials acquisition](https://github.com/WP-API/OAuth1/blob/master/docs/basics/Auth-Flow.md#temp

[2016-08-18 23:41] mzalewski commented on #102
Great - If we can handle leg 1/3 without user interaction, is making leg 2 pluggable an option, defaulting to OOB/prompt?

eg: https://gist.github.com/mzalewski/2b2ff2de0d88a5c3194c407b796695df

What are the main issues you're having?

Unless I misunderstood what you meant, wouldn't it be easier to just focus on superagent since it's used by the rest of the library anyway (assuming the library wil

[2016-08-23 19:17] edygar opened #211 "EndpointRequest customization"
Could https://github.com/WP-API/node-wpapi/blob/master/lib/endpoint-factories.js#L41 refer to `handlers[ resource ].Ctor` instead directly to var EndpointRequest?

I need to inject some code before and after any of the `_httpMethod` are called but the way it is today, I would need to actually mutate each EndpointRequest instance where I could just inherit from them. Also,`invokeAndPromisify` been

[2016-08-23 20:25] kadamwhite commented on #211
@edygar That sounds like it'd be a good idea, that would be a useful seam to introduce. Can you share some pseudocode of what you'd be hoping for, so I can make sure I understand your idea?

[2016-08-23 20:27] kadamwhite commented on #211
Also, it sounds like what you're looking for is direct access to `WPRequest`, more than to the Ctors for the individual handlers -- is that an accurate assessment?

[2016-08-23 21:41] edygar commented on #211
Just for context: I'm working on a Redux Middleware which needs to act between the query declaration and the request, if the data is already available, it should resolve the promise right alway, in case of data retrieval, or update local data, in case of mutations.

@kadamwhite, yes, if I could just inject a WPRequest factory, it would solve my problem of access. Here's a very simplified pseudo-co

[2016-08-25 22:17] kadamwhite commented on #211
@edygar Thank you for clarifying, that makes a lot more sense. I'll look into it

[2016-08-26 13:37] edygar opened #213 "Access to params of WPRequest"
Is there anyway to retrieve all params from a built `WPRequest`?

What I'm looking for is an object like:

[code]

Resulting from `api.posts().id(1).revisions(2)`. And an object like:

[code]

Resulting from `api.posts().id(2)`. But the closer I've got was

[code]

Since I've no access to routesTree, I can't walk and assign the right name to each given `_path` component.

Thank you

[2016-08-26 17:31] kadamwhite commented on #213
@edygar What is your end goal in getting access to this? The issue is that the route tree built from a handler will not necessarily match with all of the routes that handler can access -- `.posts(x).revisions(y)` for example will still set "id" as "x" because the least-specific routes take precedence in the tree. If you can share more information about what you're trying to achieve I may be able t

[2016-08-26 18:12] edygar commented on #213
It's related to the scenario presented [here](https://github.com/WP-API/node-wpapi/issues/211#issuecomment-241889196). For now, my middleware receives the WPRequest instance and the method to call:

[code]

So its mission is to look in its cache for the requested resource so it can resolve locally or go get it on server. I know the kind of resource by taking only the non-dynamic components URL (ex

[2016-08-26 21:47] kadamwhite commented on #213
To restate to see if I understand: you're looking for a unique cache key for the request? What if you rendered the URI to a string and stored that? Is there a reason that you need the object structure?

I'm hesitant to expose the internal state properties because then we have a new back-compat issue if we change how trees are generated; however WPRequest.prototype._renderURI() is already on track

[2016-08-26 23:19] edygar commented on #213
No, I didn't represented all the cache up there, but I'm already doing that. I keep in cache requests by its generated URI (they are reorganized to group pagination and to refer to local ids).

However, I want to be able to resolve to single resources that I've already brought in one of the collections endpoints. And I would like to do it from the `WPRequest` instance, so the consumer mustn't be a

[2016-08-27 14:16] preschian opened #214 "Unhandled stream error in pipe."
dunno why i can't use this package
error when require/import the package

<img width="1226" alt="screen shot 2016-08-27 at 9 12 51 pm" src="https://cloud.githubusercontent.com/assets/734428/18027955/806cfcc6-6c9b-11e6-9489-8f8323e3d0b4.png">

[2016-08-27 20:09] kadamwhite commented on #214
Either try to import the prebuilt bundle in /browser, or if you're using webpack add json-loader or if you're using browserify there should be a browserify transform. If that doesn't work let me know the details of your build and I'll take a deeper look!

[2016-08-27 22:37] preschian commented on #214
ooppss, sorry... the problem is with the webpack instead
solved with json-loader

thank you~
webpack/webpack/issues/965

[2016-08-27 22:37] #214 closed

[2016-08-27 22:40] nodeGarden opened #215 "Unable to Create New Post"
I've tried the simpliest of examples in creating a post, and it keeps telling me:
[code]
I have created a new user, reset the password multiple times, confirmed I can login and post through the UI, and re-installed both the `WP REST API` and the `JSON Basic Authentication` plugins multiple times.

[code]

Versions:
  - Wordpress: `4.6`
  - Node: `6.3.0`
  - NPM: `3.10.7`
  - WP REST API: `2.0-beta

[2016-08-27 22:48] kadamwhite commented on #215
Thanks for opening the issue, I'll try to reproduce when I'm back at a computer this evening. If you get to this before I do, can you try without the port and let me know what result you get?

[2016-08-28 01:20] nodeGarden commented on #215
@kadamwhite The port isn't used. I only set it in the Options object because I originally started with just a `http.request()` call, and I like to keep config together at the top.

[2016-08-28 17:48] nodeGarden commented on #215
Closing. Doesn't look as if `node-wpapi` is the problem. Looks like other people are having similar issue. Added a comment in `Basic-Auth`: https://github.com/WP-API/Basic-Auth/issues/35#issuecomment-242988435 .

[2016-08-28 17:48] #215 closed

[2016-08-28 18:20] kadamwhite commented on #213
I'd prefer not to update the setters to be getters, given that would alter the returned type for chaining methods and introduce inconsistency between setters that take arguments, and setters like `.embed()` that do not. I understand what you're trying to achieve but one of the design goals of this client is to be deliberaly more "dumb" than what you're asking for, in the interest of consistency an

[2016-08-30 12:18] ludoo0d0a opened #216 "Discover and security"
I cannot find a way to use a custom namespace AND authentication.

discover cannot accept authentication as parameter.
and I didn't find how to set username/password after discover.

thanks

[2016-09-02 19:44] edygar commented on #213
Just so you know, I just published the [very first version](https://github.com/log-oscon/redux-wpapi/) of the lib.

This current issue was poorly addressed [here](https://github.com/log-oscon/redux-wpapi/blob/master/src/ReduxWPAPI.js#L65-L91). `getIndexes` should grab any useful information for finding an entity, my wish as that I could extract the params with the right params name.

[2016-09-03 12:31] kadamwhite commented on #216
@ludoo0d0a Thanks for the bug report. I'm focusing on this library for the next week so I will attempt to address this as soon as I'm back from the weekend.

[2016-09-07 15:05] kadamwhite commented on #216
Looking into this today; the likely solution (which will support multiple authentication mechanisms as well) will be to make `.auth` a method that can be called on the WP site instance object to set it for all future requests.

[2016-09-07 17:26] kadamwhite commented on #211
Consider whether providing customization of WPRequest can also become a vector for injecting handling for different authentication schemes

[2016-09-07 17:27] kadamwhite commented on #118
Other things to document in the same mode: filtering by post status

[2016-09-07 18:31] #216 closed

[2016-09-07 18:34] kadamwhite commented on #216
@ludoo0d0a You should be able to use this pattern without any code updates, it should have been feasible before but wasn't documented:

[code]
(you can use nonce-based auth too, not just basic auth username/password)

[2016-09-07 20:03] kadamwhite commented on #213
@edygar This is awesome, I look forward to digging into it (and hopefully coming up with a solution that works for both of us) in the coming week.

[2016-09-08 07:37] ludoo0d0a commented on #216
Thanks for explanations! I will try !

[2016-09-12 17:39] kadamwhite commented on #211
@edygar I just opened #220 to attempt to provide an official way to modify the HTTP behavior; I would welcome your feedback on that API!

[2016-09-12 18:26] edygar commented on #211
First of all, thank you! That's awesome!

I'm gonna take a look tomorrow and I give a proper feedback, but at first glance that's exactly what I asked for!

[2016-09-13 17:40] #211 closed

[2016-09-14 13:02] kadamwhite opened #224 "Permit routes definition to be excluded from build"
If I am consuming this library from an application I control, I may have defined a subset of routes I care about (e.g. in a plugin for which this app is a client); I may have no need of the default posts, media etc. As such, the default bootstrapping logic should likely be gated behind a conditional that can be specified in a webpack build (how process.env.production is used to exclude debugging c

[2016-09-20 13:36] edygar opened #226 "Documentation of `.param()`"
So, I was trying to use `exclude` param and couldnt find any info just by reading README.md. One liner doc could solve it, near to [Filtering Collections](https://github.com/WP-API/node-wpapi#filtering-collections).

[2016-09-21 19:16] kadamwhite opened #227 "Remove "merge" property from `.param` method"
WPRequest instances are intended to be transient: It is much easier to understand building a single array of values then calling `.param( 'key', valuesArr )` once than it is to mentally keep track of calling `.param( 'key', value, true )` multiple times. It is also one of the only ~_mysterious boolean_~ arguments in the entire library, and we normally aim to avoid those.

The `merge` argument as i

[2016-09-22 17:54] marcianosr opened #228 "401 error"
Hi,

I'm testing the WP Node API and I'm trying to create a post, however I get this error:

`{
  "code": "rest_cannot_create",
  "message": "Sorry, you are not allowed to create new posts.",
  "data": {
    "status": 401
  }
}`

I'm authenticating with my login for wordpress and testing it on localhost. This is the code:

[code]

Running this code in NodeJS doesn't do anything either. Does someon

[2016-09-23 04:57] kadamwhite commented on #226
@edygar Thanks much for catching this, that was a big omission. Can you review the new docs in #229 and let me know if you have any suggestions for further improvement?

[2016-09-23 05:00] kadamwhite commented on #203
@sdgluck Thank you for raising this issue, I've taken a stab at a third option: leave the existing `mixins` object alone, but introduce a `params` array that can take a list of API query strings, either supported by mixins (like `filter`) or not (like a custom taxonomy), and conditionally applies mixins or creates a basic setter for that property as appropriate. If you have time to review #229 I w

[2016-09-23 05:03] kadamwhite commented on #228
Hello @marcianosr and thanks for using the WordPress REST API (and this library!) Can I ask whether you're running the [Basic Auth plugin](https://github.com/wp-api/basic-auth) on your site? That plugin must be installed and active for username/password authentication to succeed.

As a side note, the "auth: true" should be unnecessary, but would not contribute to the error you are seeing.

[2016-09-23 07:55] marcianosr commented on #228
Hi @kadamwhite!

Thanks for answering!
Yes I downloaded the Basic Auth plugin on my website. I somehow still get a 401 error on creating posts. Pretty weird, maybe I missed something.

[2016-09-23 16:30] kadamwhite commented on #228
@marcianosr May I ask what you're using to run your local server?

You can check to see if it's an issue with the client itself or an issue with your server by testing the request with `curl`; for my test environment if I run

[code]
I then get back the JSON for my user record, the same as if I ran
[code]

If the `curl` command doesn't work (and curl should be available for all systems, how you in

[2016-09-24 12:18] marcianosr commented on #228
@kadamwhite
I'm using wamp server for my wordpress configuration with a standard installed wordpress, and running another server on another port for the frontend and node js backend.
When I cURL or use postman to the url, I get the same 401 error, while I am logged in to WordPress.

`{
  "code": "rest_not_logged_in",
  "message": "You are not currently logged in.",
  "data": {
    "status": 401

[2016-09-24 14:17] marcianosr commented on #228
@kadamwhite
I got it working! It seems I installed the wrong basic auth plugin...
I now installed the good version: https://github.com/WP-API/Basic-Auth

Thanks  for helping :)

[2016-09-24 16:03] kadamwhite commented on #228
@marcianosr my pleasure, I'm glad to hear you got things working! Thanks for the update and let us know if you run into anything else!

[2016-09-24 16:03] #228 closed

[2016-09-26 09:03] stephanmax opened #230 "Filter custom post type by custom taxonomy"
Hi there,
I created a new route with

[code]

which works well. Now I want to filter this custom post type by a custom taxonomy, pretty much yielding this WP-API URL: `wp/v2/portfolio?filter[portfolio_entries]=sector-brief`.

This is the part I am struggling with. I tried using the `param` (no filtering at all) and `filter` (claims `filter is not a function` although I introduced `filter` in the `

[2016-09-26 13:24] kadamwhite commented on #230
Hello @stephanmax and thanks for opening this issue! You're not missing anything, there's a bug in the currently released version of the library that prevents filters from being used with custom routes. The release candidate is ready and should be up on NPM within a couple of hours, I'll update this issue when it's published and we can see whether that solves your problem!

[2016-09-28 07:48] stephanmax commented on #230
Hi @kadamwhite, any news on this one. Sorry for my impatience, I am just looking at using this plugin in my current sprint and if you tell me, that the fix probably won't get in today, I am happy to work around it.

[2016-09-28 10:03] ludoo0d0a opened #231 "order method missing after discover in custom route"
After the discovery, I can reach my custom routes using API.
As mentioned in "Query Parameters & Filtering Custom Routes" section of the doc, .perPage and .page works is present, but not .order, .orderBy.
Since I do not use registerRoute but discover, how can I add them as supported methods ?

In the discovery json, order and orderby methods are anyway present in endpoints GET.
[code]

Thanks

[2016-09-28 12:33] ludoo0d0a commented on #231
In fact, order, orderby (and offset) are not available in a simple case with posts :

[code]

[2016-09-29 03:34] #231 closed

[2016-09-29 03:51] kadamwhite commented on #231
You are correct that these were not available: issue #178 tracked adding `order`, `orderby` and other query methods that occur on many endpoints to WPRequest. While that issue has been closed, the library has not been released since the change landed. We just now completed a release to NPM, however, so `npm install wpapi@latest --save` and you should see all these methods available with discovery-

[2016-09-29 05:12] kadamwhite commented on #230
@stephanmax Sorry that I missed your comment earlier today. The good news is that we've released v0.11 of the library this evening, so while I'm sorry we didn't get it in earlier to assist in your sprint, you should be able to

[code]
then `site.sectorBriefs().filter( 'portfolio_entries', 'sector-brief' )` to generate your request. I hope this helps; thank you very much for using node-wpapi, and f

[2016-09-29 05:15] #230 closed

[2016-09-29 05:16] kadamwhite commented on #230
As this should be addressed by today's release I've closed the issue, but please comment below if you run into any further trouble and we will continue the conversation.

[2016-09-29 05:24] kadamwhite commented on #170
While we have decided not to support this functionality natively, because node-api (and the WP REST API itself) are designed to encourage users to begin their requests from the context of the type of resource they wish to retrieve, this _is_ something that can be added trivially via a mixin method, _e.g._

[code]

#213 will make this even easier, should it be solved.

Leaving this open to discuss

[2016-09-29 05:25] kadamwhite commented on #72
Closed incidentally in v0.11

[2016-09-29 05:25] #72 closed

[2016-09-29 05:39] kadamwhite commented on #118
Technically `post__in` has been superseded by `include[]` so this should document whitelisting specific query variables in a general fashion, possibly by linking to the official docs

[2016-09-29 05:49] kadamwhite commented on #204
Since it sounds like you're sorted, I'm taking over this issue to account for updating the taxonomy filtering logic to reflect the latest and greatest in the REST API betas

[2016-09-29 07:00] akmur commented on #204
Yes, I think i'm kind of sorted :) Many thanks!

[2016-10-05 19:34] pvlvsk opened #244 "Custom routes POST Request"
Hi,

i've set up a custom route for creating new menu items via the WP REST API. In Postman it works flawlessly but i can't get it to work with this package. The question is how i make a POST request with a custom route? Here is my code so far:

[code]

This makes a GET request, I need POST instead...

Thank you!

[2016-10-05 19:50] kadamwhite commented on #244
@pvlvsk Thanks for using `node-wpapi`! All the same rules about [creating records](http://wp-api.org/node-wpapi/using-the-client/#creating-posts) apply to custom endpoints as do to the built-in collections; one of those rules is that `.then` is an alias for `.get().then` unless another promise-returning request method is called.

In this case, I suspect that
[code]
will get you what you want; if y

[2016-10-05 20:53] pvlvsk commented on #244
Yes! It's working now! Thank you very much!

[2016-10-05 20:53] #244 closed

[2016-10-05 22:16] kadamwhite commented on #244
Our pleasure! Glad to hear things are working.

[2016-10-16 08:59] Ohar commented on #139
@andreipot I have the same question. Clarify your solutiion, plz.

[2016-10-16 13:18] kadamwhite commented on #139
@ohar @sebastiennarre could you share sample code (without real password though ;) showing the requests you are making that are generating 403 errors?

[2016-10-16 13:19] kadamwhite commented on #139
@ohar @sebastienbarre could you share sample code (without real password though ;) showing the requests you are making that are generating 403 errors?

[2016-10-17 10:37] Ohar commented on #139
Oh I am sorry, it was problem on my side.
I just didn`t install [WP API](https://github.com/WP-API/WP-API) plugin.
It is not clear that *its a plugin, not a WordPress feature*. I was sure that REST API is a thing which WordPress has *out-of-the-box* and there no needs in any third-party plugins.

[2016-10-17 13:33] kadamwhite commented on #139
@Ohar wish us luck today then, we're meeting with the WordPress leads tonight to decide whether these endpoints will be merged in to WordPresa core!

[2016-10-19 09:23] shiva-avula-nuk commented on #102
@kadamwhite @mzalewski This is exactly what I needed. We have moved from basic to oauth on our Wordpress domain. Please help me out in implementing the above.

[2016-10-19 11:23] Ohar opened #245 "Document that it is possible to send a file using a buffer"
Or maybe is it planned to?
I have file buffers and current API force me to save it on disk to `temp` folder, then upload it with by its disk path and then delete it.
It is a thing I have a lot of problem to now.

[2016-10-19 12:37] Ohar commented on #245
Oh its just works, I am an idiot.

[2016-10-19 14:53] kadamwhite commented on #245
@Ohar If it wasn't clear that could be done, I don't think you're an idiot, I think our docs need improvement :) Thanks very much for the catch, and I'm glad to hear that it works!

[2016-10-20 06:07] mzalewski commented on #102
@shiva-avula-nuk Basically, what you need is an Access Token. Once you have that, you can sign requests via the Auth HTTP header.

The main issue is: to get that OAuth Access token, there 3 legs/processes we have to go through and the second one requires user interaction (from a user that has authorized access to WP). As this is a UI/platform agnostic JS library, it's (almost?) impossible to handl

[2016-10-20 07:20] Script-Shiva commented on #102
@mzalewski Looked at the code, but did not execute yet. However I already have all the credentials required for Wordpress API, all I need is to make WP to use those OAuth credentials in making API call to Wordpress API. What is the easiest way to implement this ?

[2016-10-20 23:57] kadamwhite commented on #102
Apologies for the delay on this, been pretty heads-down on working on the underlying API itself—as we come up for air this is the next priority.

One open question is what interface is most useful for navigating through the initial three-legged handshake, from supplying the initial token and secret, to getting the URL (to open or to redirect to), to then provide a path to capture the returned valu

[2016-10-24 00:47] derwentx commented on #102
Hey, I've been following this thread for the suggestions people have been making. I've actually been working on my own Python OAuth1a 3leg flow client, and it works! (sort of) I've managed to succesfully bypass getting the user to type their password in by using a scraper to fill in the form automatically, and I can succesfully grab access tokens from the site and authenticate requests! Unfortunat

[2016-10-24 22:36] mzalewski commented on #102
@derwentx Let me know if you solve the query parameter thing. Does adding "?context=edit" work?

I've got an implementation that seems to work ok here (though I've only done very basic testing). It uses the node oauth library so maybe that could help.
https://github.com/mzalewski/wpapi-oauth-example-transport

It completely overrides the http transport. Unfortunately I couldn't find another way to

[2016-10-24 23:24] mzalewski commented on #102
@kadamwhite Here are a few examples of some possible interfaces/workflows. The first requires OAuth-specific methods to be built into node-wpapi (which I think was your preferred option?) The other 2 simply allow an authentication handler to be injected, but ends up being slightly cleaner since node-wpapi doesn't need to worry about the verification.

I think the best option might be a combination

[2016-10-25 06:07] mzalewski commented on #102
Decided to try getting an implementation going anyway, basically combines the three-legged OAuth1.0a flow gist with the architecture/pattern used by the httpTransport functions

https://github.com/mzalewski/node-wpapi/tree/oauth-option-1

Comparison:
https://github.com/WP-API/node-wpapi/compare/master...mzalewski:oauth-option-1

[2016-10-25 18:24] derwentx commented on #102
Thanks Matthew, I managed to get a totally working implementation of oauth 3 leg which automatically generates the access token if you don't have it. I just had some bug in the sorting algorithm somewhere :P

It's all up and ready to try out if you want to give it a go!

[2016-10-28 16:43] ryelle opened #247 "Filtering posts by date, category, etc not working without `filter`"
Are there plans to update this library now that `filter` has been removed from the core API? I'm using this for [the theme on my site](https://ryelle.codes/), and can't display archive pages because they're requested using the filter param.

For example, `posts().category( 4 )` fetches `/posts?filter[cat]=4`, while it should be `/posts?categories=4`.

I'm happy to contribute code, too, if you poin

[2016-10-28 19:27] kadamwhite commented on #247
@ryelle thanks for using the library! There are plans to remove filter(), but since there are also plans to add that parameter back in as a plugin I may leave the code in here so that it can be used as a mixin. Id welcome your thoughts on that idea.

[2016-11-04 20:57] liesislukas opened #248 "wp.posts().create() returns empty array: [] and post is not saved"
3 config strings are correct. Endpoint opened api json response with endpoints etc. User & password is valid wordpress user with admin role. In posts view there are no posts on wordpress.

code:
[code]

result:

[code]

os x El Capitan
node -v v6.7.0
wpapi: ^0.11.0

![image](https://cloud.githubusercontent.com/assets/2733862/20022163/fbc10bfc-a2e1-11e6-8f3f-e27ad6e345bb.png)

[2016-11-04 21:04] liesislukas commented on #248
Such a shame, that's my bad. Config was incorrect. www. missing and nginx configured to redirect all non-www to www. Nginx was updated just recently.. Of course api could throw something about error, not just empty array

[2016-11-04 21:04] #248 closed

[2016-11-08 18:37] joshlevinson opened #249 "Autodiscovery lacks documentation around CORS"
When working with cross-origin requests, headers are only exposed when whitelisted.
This means autodiscovery breaks unless a `Access-Control-Expose-Headers` header containing `Link` is sent.

While this issue is not specific to this library, I think it'd be helpful to document how to make in-browser cross-domain autodiscovery happen.

Happy to submit a documentation PR!

[2016-11-08 23:20] kadamwhite commented on #249
That's a good point, documentation on this issue would be a welcome addition!

[2016-11-11 10:28] ludoo0d0a commented on #102
Couldn't be possible to simply inject access token, if we used Passport as Express Middlware ?
I'm connected to my WP instance with Passport+oauth2 strategy, I just need to inject token into wpapi now.

[2016-11-11 21:44] mzalewski commented on #102
@ludoo0d0a Currently, your best (probably only) option is to write a new http transport (eg: https://github.com/mzalewski/wpapi-oauth-example-transport)

Bear in mind that the example above doesn't cover redirects (ie: auth is lost when redirected from users/me to users/1)

Any  code you manage to come up with would be helpful too :)

[2016-11-11 21:50] mzalewski commented on #102
@derwentx Interesting approach, so it basically handles the auth step/submits the form for the user?

How does the user specify their username/password?

(Sorry, not that familiar with python :))

[2016-11-11 23:29] derwentx commented on #102
@mzalewski yep, that's right, it's the same way that you specify the consumer_token and consumer_secret. They are passed as arguments to the oauth constructor. If people actually end up using my client I'll probably find some way of storing the oauth token locally on disk so that it persists through multiple sessions and so that the password is only needed once, to generate the token, then while t

[2016-11-14 09:35] ludoo0d0a commented on #102
I tried to introduce oauth2 in @mzalewski [http transport](https://github.com/mzalewski/wpapi-oauth-example-transport/blob/master/oauth-http-transport.js).
For now access token is not kept/passed in the best way, but it still failed to authenticate with bearer token against my WP.
Not clear what is wrong.
Here is a [related issue ](https://github.com/WP-API/WP-API/issues/2635#issuecomment-24675420

[2016-11-14 11:06] rmccue commented on #102
If you're using the [official OAuth plugin](https://github.com/WP-API/OAuth1), note that it is OAuth 1.0a, **not** OAuth 2.0.

[2016-11-14 13:04] ludoo0d0a commented on #102
Sure, but I use a real oauth2 : https://fr.wordpress.org/plugins/oauth2-provider/

[2016-11-21 17:40] #245 closed

[2016-11-22 15:37] joaojeronimo opened #251 "Update custom taxonomy collection documentation"
I got `TypeError: wp.taxonomies(...).taxonomy(...).term is not a function`.

Am I missing anything ?

[2016-11-22 15:58] joaojeronimo commented on #251
.terms also seems to not be a function.

`TypeError: wp.taxonomies(...).taxonomy(...).terms is not a function`

[2016-11-22 16:03] joaojeronimo commented on #251
Although `wp.taxonomies().taxonomy('taxonomy_name', termIdentifier)` is working. Is that what it's supposed to be ?

[2016-11-23 10:20] subatomicceo opened #252 "Add multiple status params to request?"
I have registered a custom route as suggested in the documentation and all works as expected. However, the response seems to be missing any posts that aren't set to a status of "publish". I tried to add multiple status params to the query but am not having much luck. Any feedback would be greatly appreciated, thanks!

Example:
[code]

[2016-12-01 13:37] kadamwhite commented on #252
Hey @subatomicceo, thanks for using node-wpapi! The way `.param` works is that it expects to be called once for each query parameter, and overwrites previously-provided values. The workaround for providing multiple values is to pass them as an array:

[code]

I hope this helps, and if you see a place the documentation could be improved to better call this out we should make this more clear.

[2016-12-01 13:37] #252 closed

[2016-12-01 13:58] kadamwhite commented on #251
@joaojeronimo Thank you for catching this, that documentation is outdated. Term collections are now top-level routes on the `/wp/v2` namespace, and are no longer nested within their parent taxonomy. The result of this is that the nesting operators documented in the README are pointing to a route that no longer exists -- for the custom taxonomy "genre", for example, if registered

[code]
then runni

[2016-12-01 14:02] kadamwhite commented on #249
@joshlevinson Good to meet you last night! Let me know if you want to pair up on this to knock it out briefly while we're at WCUS.

[2016-12-01 14:44] #251 closed

[2016-12-01 14:47] kadamwhite commented on #204
@akmur Just a heads-up if you haven't seen it already that this will likely NOT work in 4.7, due to changes to how categories are included and excluded (`filter` has been removed).

[2016-12-01 17:17] joaojeronimo commented on #251
Thanks :)

[2016-12-01 21:51] kadamwhite commented on #247
This should be resolved in v0.12, now released

[2016-12-01 21:51] #247 closed

[2016-12-01 21:51] kadamwhite commented on #247
Note that `.tags()` and `.categories()` is now preferable to `.tag()` and `.category()`, and that the slug-based querying supported by the latter will not work in 4.7

[2016-12-02 16:44] kadamwhite opened #258 "Document and discuss route-path-to-function-name rename mapping"
As noted in #257 by @gambry, we make some pretty broad assumptions about how to map route identifiers and post type names into setter names—converting for example `(?P<revision_id>[\d]+)` into a camel-cased setter method `.revisionId()`. #257 adds support to map `kebab-case` identifiers into the same camelCasing, but @gambry notes

This issue is a placeholder for discussion of whether the regex sh

[2016-12-05 20:01] kadamwhite commented on #204
This should be handled as best we can as of v0.12, which includes `.categories()` and `.tags()` methods to provide OR queries for taxonomies, and `.excludeCategories()` and `.excludeTags()` methods to provide NOT IN queries. AND handling is [not currently supported by the API](https://github.com/WP-API/WP-API/issues/2768).

[2016-12-05 20:01] #204 closed

[2016-12-05 20:52] #124 closed

[2016-12-06 01:46] kadamwhite opened #263 "Document (and test) .settings()"
Added in 4.7 branch since last plugin beta; we should have it documented

[2016-12-06 02:30] kadamwhite opened #264 "Add .status() method"
Every. Single. Time. I try to write status-handling code with this library I think it exists, but it does not. It should.

[2016-12-06 03:07] kadamwhite commented on #121
I do not see a way forward to implement this API without impacting the ability to provide configuration options to a WPRequest instance, as well -- these signatures would both have to work,

[code]
and
[code]
I don't see a good way to differentiate between the two, especially given that a user-created endpoint could define its own `nonce` query parameter (_e.g._) so even a key whitelist would not

[2016-12-06 03:07] #121 closed

[2016-12-06 03:17] kadamwhite commented on #62
We will not implement the transformation interface suggested in #76, in order to keep this library slightly lower-level, but #221 actually provides a mechanism to accomplish the same thing -- since you can wrap (or define your own) handlers for transport behavior, it's fairly trivial to use the transport method interface to implement collection methods.

For example, to wrap response arrays in an

[2016-12-06 04:20] kadamwhite opened #266 "Pass HTTP errors through if no API status code is available"
API errors will always have the "code" property; if the response body does not have that property, we should return the error object as-is from the HTTP transport, because it could signify e.g. the request is not being made against the REST API endpoint URL and is dying silently as a 404

[2016-12-06 04:36] #264 closed

[2016-12-06 05:23] #266 closed

[2016-12-06 05:52] #263 closed

[2016-12-06 05:55] kadamwhite commented on #127
Removing from 1.0 milestone: this can probably be achieved by wrapping the GET transport method, as demonstrated in #265. Further improvements or auxiliary library support for this will be evaluated later.

[2016-12-06 05:55] kadamwhite commented on #62
Closing as documented by #265

[2016-12-06 05:55] #62 closed

[2016-12-06 06:17] kadamwhite commented on #118
With the removal of `filter` from the 4.7 API and the addition of `include()` / `exclude()`, this is no longer relevant. Documentation around how to modify the accepted parameters of an endpoint should live at the REST API developer handbook on developer.wordpress.org, not in a client library.

[2016-12-06 06:17] #118 closed

[2016-12-06 06:18] #227 closed

[2016-12-06 06:56] kadamwhite opened #272 "Create CHANGELOG.md file"
We should have a changelog file with each version's release notes and breaking changes

[2016-12-06 08:12] kadamwhite commented on #272
Closed in v1.0.0-rc.1

[2016-12-06 08:13] #272 closed

[2016-12-06 13:19] gambry commented on #258
`[^a-z0-9]` looks like the right range, according with [register_post_type() valid $post_type values](https://developer.wordpress.org/reference/functions/register_post_type/#parameters).
However the documentation seems to allow custom types starting with a number, which could result in mapping these routes to methods starting in the same way BUT javascript doesn't allow variables starting with num

[2016-12-06 14:58] kadamwhite commented on #258
That starts-with-number issue is a good catch, thank you for the comment! I can make that change in a few hours but if you have the time to submit a PR it'd be welcome too!

[2016-12-08 21:03] bigandy opened #275 "Use create() to for a new custom post type entry"
I have a custom post type "health" can I use wpapi to create a new health entry?
The cpt is accessible https://`<site-url>`/wp-json/bigandy/v1/health

[2016-12-09 01:16] kadamwhite commented on #275
Hey @bigandy, thanks for trying this project! Custom post types are supported best through `.registerRoute()`, and there is a user guide here http://wp-api.org/node-wpapi/custom-routes/ that should get you started. Please leave a comment below if you have any further questions!

[2016-12-09 01:16] #275 closed

[2016-12-09 01:17] kadamwhite commented on #275
Closed the issue as it isn't strictly speaking a bug, but we can continue conversation in this thread.

[2016-12-09 03:24] kadamwhite commented on #275
To clarify, assuming that you can access resources by ID like a post,
[code]
etcetera

[2016-12-09 03:26] kadamwhite commented on #258
Upon reflection, a setter starting with a number _is_ valid, it's just cumbersome: assuming the capture group name `1more_time`, the setter could be accessed with bracket notation `site.myResource()[ '1moreTime' ]...`. For this reason I'm hesitant to make this logic even more "magical" without input from a wider group of users about what their expectations would be.

[2016-12-09 09:36] bigandy commented on #275
@kadamwhite thanks for the information.

Perhaps I am doing something wrong on the WordPress end then. The "POST" method is not available when I go to https://big-andy.co.uk/wp-json/bigandy/v1. Do I need to enable something? Here is my WordPress cpt code : https://github.com/bigandy/big-andy.co.uk/blob/live/content/plugins/bigandy/cpts.php

[2016-12-09 16:03] stevengeorgeharris opened #276 "Auto discovery fail"
I'm getting the following error when I start my Node application, my wordpress install is in a Docker container, running `wget nginx://` inside the Node container downloads the WordPress homepage fine.

[code]

I'm wondering if anyone has come across this issue?

[2016-12-09 16:57] kadamwhite commented on #276
Can you clarify the point at which the error occurs? Is it happening during the call to .discover(), or later on? What error is being logged from the JavaScript side?

[2016-12-12 16:09] gambry commented on #258
I agree. Although we are discussing about weird edge cases, having wider thoughts is the only way to do things right.

[2016-12-13 09:40] parsafatehi opened #277 "create post in CPT"
Is it possible to create post in a custom post type with wp.posts or wp.types?

[2016-12-13 10:16] bigandy commented on #277
Yes. I had the same problem and here's how I did it.

- In WordPress cpt code make sure `'show_in_rest' => true` [see my code](https://github.com/bigandy/big-andy.co.uk/blob/live/content/plugins/bigandy/cpts.php#L32) with my 'health' cpt it gives me an endpoint of `site-url/wp-json/wp/v2/health`

- in your wpapi code:
wp.health = wp.registerRoute('wp/v2', '/health/(?P<id>\\d+)');
wp.health().creat

[2016-12-13 10:21] parsafatehi commented on #277
@bigandy It works.
Thanks

[2016-12-15 10:10] #276 closed

[2016-12-15 14:10] kadamwhite commented on #276
@stevengeorgeharris what ended up being the solution, if I may ask?

[2016-12-15 14:20] stevengeorgeharris commented on #276
@kadamwhite I now believe the issue was unrelated to `node-wpapi`, in our Makefile we install and activate our wp plugins (endpoints) - just to test, we run the command again and voila! everything worked.

To cut a long answer short - we believe it was a cache/nginx issue.

A very unique issue!

[2016-12-15 16:10] nezzard opened #278 "posts() not working"
Hi, i try to get posts by
wp.posts() or wp.posts().id(1)
But nothing return

When i try to create posts, all works, but not get
`EndpointRequest {
  _options:
   { auth: true,
     endpoint: 'http://xxxxx/wp-json/',
     username: 'xxxx',
     password: 'xxxx' },
  transport: {},
  _params: {},
  _supportedMethods: [ 'get', 'post', 'put', 'patch', 'delete', 'head' ],
  _path: { '0': 'posts', '1':

[2016-12-15 17:03] kadamwhite commented on #276
@stevengeorgeharris Thanks for elaborating, and I'm glad to hear things worked out!

[2016-12-15 17:22] kadamwhite commented on #277
@parsafatehi Glad to hear things are sorted! There's also some [documentation around working with CPTs](http://wp-api.org/node-wpapi/custom-routes/) in this library's docs, and I'd welcome suggestions on how to make them easier to find.

One note: You'll need to use `\\` (double-backslashes) in the regex that @bigandy shared above, like this:
[code]
Otherwise the string will be misinterpreted in J

[2016-12-15 17:22] #277 closed

[2016-12-15 17:27] kadamwhite commented on #278
Hello @nezzard and thanks for using this library. In order to send a request, you need to use one of the request terminator methods -- `.create()`, `.update()`, `.delete()`, or in this case, `.get()` or `.then()` (which aliases to `.get().then` internally). So, to GET posts:
[code]
or explicitly using `.get()`,
[code]
You can check out the [integration tests](https://github.com/WP-API/node-wpapi/b

[2016-12-17 13:15] nezzard opened #279 "Mysql crash after foreach create"
Hi, i try to create posts inside foreach, but i think something wrong, bcs my mysql crash after that, can you tell me, how i can fix this?
Maybe something like delay?
[code]

[2016-12-17 14:07] #278 closed

[2016-12-19 09:31] nezzard opened #280 "How to update post meta?"
Hi, i tried to update post meta, when i created posts, but nothing happened
It's possible with node-wpapi?
`					wp.song().create({
					    title: '1',
					    content: 'Your post content',
					    status: 'publish',
					    meta: {key: 'youtube', value: '12'},
					}).then(function( response ) {
					    console.log( response.id );
					})`

[2016-12-19 11:22] bigandy commented on #280
On the WordPress side of things you'll need to set things up so that you can read and post meta. See http://v2.wp-api.org/extending/modifying/#read-and-write-a-post-meta-field-in-post-responses

[2016-12-19 22:12] idevwebs opened #281 "Troubleshooting Error"
Hi there.

I'm trying to use this in a project and when I try to chain things together, I get an error such as:

Running:

`wp.posts().filter({
    category_name: 'islands',
    tag: [ 'clouds', 'sunset' ]
}).get();`

I get:

Error: wp.posts().filter is not a function. (In 'wp.posts().filter({
    category_name: 'islands',
    tag: [ 'clouds', 'sunset' ]
})', 'wp.posts().filter' is undefined)

Yet

[2016-12-20 00:36] kadamwhite commented on #281
What version of the API are you using, the beta rest-api plugin or 4.7? If 4.7, are you using the rest-filter plugin? The "filter" parameter was removed in WordPress 4.7. Let me know and I'll see what I can do to advise

[2016-12-20 06:20] kadamwhite commented on #280
A better option these days is to use first-party meta support, [introduced in 4.6](https://core.trac.wordpress.org/ticket/35658), detailed here in [this API status update post](https://make.wordpress.org/core/2016/10/06/api-team-update-4-7-week-7/) and further explained in the [README from the pull request for meta handling](https://github.com/WP-API/wp-api-meta-endpoints/blob/new-meta-new-life/RE

[2016-12-22 18:31] Sphmer opened #282 "posts().create().then() returns empty response"
Hi there. First of all thank you for your work.
I'm runnin both apache with wordPress 4.7 and my nodeJS server localy.
When I'm trying to create a post like (I'm using basic authintication):

[code]

it creates correct post, but not returns any parameters of created item, like ID and so on.....
here is nodejs console output:
`{ '0': {} }`

i'm using node.js version = v6.2.1

[2016-12-26 10:37] arturgithub opened #283 "How to fetch posts of custom post type?"
Hi there, first of all thank your very much for the project!!

I have no clue about how to query custom post types. In my reactjs app, all the code you put in the documentation works fine. But I cannot find a sample of querying custom post types that I can replicate.

I would appreciate any sample (I cannot get https://github.com/WP-API/WP-API/issues/1299 to work:)

[2016-12-26 14:59] sdgluck commented on #283
The link you shared concerns the Backbone client, which has a different API to this one (`node-wpapi`).

To query a custom post type you first have to register it with your instance by using the `registerRoute` method. You can then assign the result of this call to a property on the instance for ease of access.

For example, to register a custom post type "Article":

1. Register the custom post ty

[2016-12-26 17:08] arturgithub commented on #283
Thank you @sdgluck !!!!

[2016-12-26 17:08] #283 closed

[2016-12-27 19:08] kadamwhite commented on #279
@nezzard Apologies for the delayed response, I have been away from Github for the holidays.

The most likely issue you're running into is that too many requests are being made at once—if `result` is large, the forEach executes in a few milliseconds, so all the requests are dispatched at once and that overwhelms MySQL. The best way around this is to dispatch the requests in _sequence_, instead of i

[2016-12-27 19:14] kadamwhite commented on #282
This sounds like a very interesting bug! Could you try to create the post using curl, from the command line (or using a direct request from a JS library like request, axios or superagent) and let me know what result you get?

[2016-12-28 05:40] Sphmer commented on #282
Seems like false alarm.
Wrong settings in my php.ini cause appearance of error in WordPress response:
`<br />
<b>Deprecated</b>:  Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. in <b>Unknown</b> on line <b>0</b><br />
<script lang

[2016-12-28 05:52] #282 closed

[2017-01-03 21:51] photocurio opened #284 "GET requests for collections require authentication?"
I'm trying to build an app that only uses GET requests. The client and server are on different subdomains, so I added this to the htaccess on the WP server:
`<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Credentials "false"
</IfModule>`

In my app, I have no trouble getting _single_ posts and pages with requests like this:
`wp.pages().id(18633)

[2017-01-04 00:40] kadamwhite commented on #284
Hello @photocurio, thanks for the question! Collection requests should not require authentication; the request should work as you describe, e.g. http://demo.wp-api.org/wp-json/wp/v2/posts?categories=7

If you're seeing an empty array, then my first suspicion is that the category ID is invalid; the posts endpoint will return an empty array if it is asked for a category that does not exist. To dig i

[2017-01-04 14:08] photocurio commented on #284
Kadam, thanks for the quick reply.

I'm using the WP 4.7 endpoints, and yes, category 989 exists.  If I use your log idea, I get this url:
`http://devtesla.corp.com/wp-json/wp/v2/posts?categories=989` (a dev server behind a corporate firewall).

If I open this URL in a new tab, I see an array of ten post objects.

_But if I log out of the WordPress instance_, and reload, I see an empty array. Just

[2017-01-04 16:05] kadamwhite commented on #284
That's fascinating! Sorry to hear the problem persists, hope you get it sorted and good luck figuring it out! I'll close this but if you do figure out a solution I'd be interested to hear it :)

[2017-01-04 16:05] #284 closed

[2017-01-04 16:25] photocurio commented on #284
thread is here: if you want to follow:
https://wordpress.org/support/topic/get-requests-to-the-wp-api-requires-authentication/

[2017-01-05 13:56] klihelp commented on #149
I am about to use in angular 2 app ..

[2017-01-17 07:19] jiji262 opened #286 "how to set post_meta when creating a post?"

[2017-01-19 11:58] gambry opened #289 "Documentation: 'Manually forcing authentication' wrong examples"
The example for manually specifying username and password as part of a request chain for Basic Authentication is (probably) wrong:
[code]

While the right code working for me is:
// Use username "mcurie" and password "nobel" for this request
[code]

Happy to propose a PR if my point is correct.

[2017-01-19 12:05] kadamwhite commented on #289
You are correct, the `(name, pass)` syntax should be obsolete now. A PR would be welcomed!

[2017-01-20 12:49] nezzard commented on #279
@kadamwhite Thanks. it's working for me. Reduce solved my problem.
Pls can you tell me, how i can limit cycles? For example 5 cycles _.chunk give me an error

Sorry, for my English

[2017-01-20 13:01] kadamwhite commented on #279
No worries; what error are you receiving?

[2017-01-20 14:33] nezzard commented on #279
@kadamwhite
_ is not defined

[2017-01-20 14:47] kadamwhite commented on #279
Oh, got it! `_` would be Lodash, which you'd need to load specifically:

[code]

Or else you could use the lodash.chunk library itself

[code]

One or the other option would need to be installed. But chunk itself is an easy function to write; you just want to loop over one long array and break it into smaller arrays of a certain size. I can demonstrate when I'm at a computer later on.

[2017-01-20 14:59] nezzard commented on #279
I have installed lodash and lodash.chunk, but again i got an error
TypeError: _.chunk is not a function

[2017-01-20 15:15] kadamwhite commented on #279
Without seeing your code, I don't know how to diagnose that issue; if you've installed the NPM package into your project you should be able to `require` and `import` it into your code and use it without trouble. Not sure what could be going wrong.

Out of academic interest, here's roughly how you could write your own chunking function:

[code]

Or, for a more concise (but less readable) implementa

[2017-01-20 15:15] kadamwhite commented on #279
It occurs to me: What version of lodash are you using?

[2017-01-20 15:28] nezzard commented on #279
@kadamwhite Latest
`_.chunk(result, 5).reduce((lastRequestDone, item) => {

	var songArray = new Array ({'key': item['id'], 'artist': item['artist'], 'song': item['song']});
	songArray = JSON.stringify(songArray);

  				return lastRequestDone.then(() =>
  				wp.song().search( item['artist']).then(function( posts ) {
  				//Берем миниатюру из первого поста, если артист найден
					return posts[0

[2017-01-20 15:29] nezzard commented on #279
@kadamwhite Latest
[code]

[2017-01-20 15:30] nezzard commented on #279
@kadamwhite
[code]

[2017-01-20 15:32] nezzard commented on #279
@kadamwhite Latest version

[2017-01-20 19:56] #289 closed

[2017-01-22 08:56] farruxx opened #291 "Unknown named module 'util' in React Native"
It gives an error when I trying to use it in react-native app.
It couldnt find var inherit = require( 'util' ).inherits.
Also tried with lastest version of nodejs.

[2017-01-22 10:04] farruxx commented on #291
npm install modul_name helped

[2017-01-22 10:04] #291 closed

[2017-01-22 18:42] emreycolakoglu commented on #286
I'd like to learn this as well. Currently I'm trying like
[code]
while creating posts, but no luck

[2017-01-26 06:58] bkirby989 opened #293 "Documentation Error: Cookie Auth Example"
http://wp-api.org/node-wpapi/authentication/#cookie-authentication

The above example uses `get_json_url()` and `wp_json` for script localization.

These values should be`rest_url()` and `wp_rest`, respectively. ``

[2017-01-26 07:06] bkirby989 commented on #293
Also that section links to http://wp-api.org/guides/authentication.html which appears to be deprecated and contains the same error. It should probably link to https://developer.wordpress.org/rest-api/using-the-rest-api/authentication/

[2017-02-03 14:13] conorcussell opened #294 "Upgrade superagent message/ double callback bug"
`superagent: double callback bug. Upgrade to v3.2+ to fix this`

Started getting this error from the library, has anyone come across it before? If I override the dependancy the error disappears, but the request never resolves.

[2017-02-03 14:15] conorcussell commented on #294
Just seen there's a PR out for this 😳 closing now!

[2017-02-03 14:15] #294 closed

[2017-02-03 14:36] sdgluck opened #295 "Optional logging?"
When a request 404s `superagent` will say "Error: Not Found", and isn't kind enough to tell us what it didn't find... In our applications we have had to copy/paste `node-wpapi`'s own transport API to add logging that tells us the URL of a request before it dispatches.

Ideally this could be option within the library itself, e.g. `debug` option that defaults to false and is picked up in transport m

[2017-02-05 23:44] kadamwhite commented on #295
@sdgluck That's a pretty good idea, I'd definitely be interested in adding this. I'd probably want to read the "debug" option off of the WPReq instance, so that it can be set for a full bound WPAPI instance or for a specific instantiated WPRequest; I'd also lean towards giving the transport itself a `debug()` method that can be injected so that users can self-select for `console.log`, or something

[2017-02-05 23:44] kadamwhite commented on #293
Aha, thanks for this catch! I'll upgrade this week, and get this out during LoopConf.

[2017-02-06 00:04] #293 closed

[2017-02-06 03:59] kadamwhite commented on #293
Managed to sneak this out with v1.0.2 tonight, thanks again for calling out the issue @bkirby989 !

[2017-02-06 15:28] bkirby989 commented on #293
Of course, thanks for the timely fix!

[2017-02-07 09:26] malfborger commented on #149
Have anyone found a workaround to be able to use this lib in their typescript project?

[2017-02-07 09:31] MurhafSousli commented on #149
@malfborger If you are working in angular project, try this https://github.com/MurhafSousli/ng2-wp-api

[2017-02-07 09:50] klihelp commented on #149
I am using:
https://github.com/shprink/wp-api-angular

[2017-02-10 00:30] SotirisValogiannis commented on #146
I have the same issue. After some time debugging it I found out that superagent on lib/client.js in definition of `Response.prototype._parseBody` checks if the `Content-Type` of response is json (`this.type`). Wordpress, from what I see in my case, returns `text/html; charset="UTF-8"` something that superagent doesn't like and return `null`.

[2017-02-10 00:48] kadamwhite commented on #146
Hmm, @SotirisValogiannis Can you clarify what you're querying within WordPress that is returning text/html?

[2017-02-10 00:52] SotirisValogiannis commented on #146
I tried to build make a use of the first example of node-wpapi

[code]

and what I get in console is:

[code]

[2017-02-10 00:56] kadamwhite commented on #146
@SotirisValogiannis If you do

[code]

can you open that URL in your browser and see data? What looks like it's happening is that `result.body` is null, which would mean that superagent can't parse the resource; that likely means that WordPress is returning the wrong data, or that

[2017-02-10 01:03] SotirisValogiannis commented on #146
Yes. Also using the example code above the server returns the data correctly. I attach you a screenshot:
![screen shot 2017-02-10 at 03 01 16 2](https://cloud.githubusercontent.com/assets/3330708/22809807/74d59a92-ef3d-11e6-8542-05df23397635.png)

[2017-02-10 01:10] kadamwhite commented on #146
@SotirisValogiannis Thanks for your quick response. Could I ask you to paste in the headers for that response? Will likely have a follow-up Q after

[2017-02-10 01:13] SotirisValogiannis commented on #146
@kadamwhite sure.

[code]

[2017-02-10 01:19] kadamwhite commented on #146
If I may ask, what other plugins do you have running; and what server are you using? I'm trying to replicate the text/html response to test a possible workaround.

[2017-02-10 01:21] kadamwhite commented on #146
Also, how are you loading the plugin: is it browserified/webpacked, or are you just enqueuing the wpapi.js library?

[2017-02-10 01:25] SotirisValogiannis commented on #146
Your comment helped since the problem was the plugin WP Super Cache, the only which was running. I deactivate it and now works fine :) The problem now is, could I use a cache plugin and node-wpapi at the same time?

[2017-02-10 01:26] kadamwhite commented on #146
You should be able to, for sure! Thanks for the tip, I will try to replicate and see if there's something we can do on our end to make that work.

[2017-02-10 13:33] SotirisValogiannis commented on #146
As workaround, in case that a json is returned with `text/html`, I used a custom superagent parser like the following:

[code]

[2017-02-10 23:24] kadamwhite commented on #146
@SotirisValogiannis I'm trying to replicate the scenario, and installing the caching plugin isn't doing the trick; what version of that plugin are you using? I won't ask you to copy out all of the settings from it, I don't think it's worth it; but I'd be curious to know if `wp.posts()...` works for you if you paste this code into an mu-plugin (e.g. `wp-content/mu-plugins/test.php`):

[code]
Do you

[2017-02-10 23:40] SotirisValogiannis commented on #146
@kadamwhite the plugin version is 1.4.9 and is the only active plugin. Have you set "Caching on" in the settings of the plugin?

Regarding your question as long as I have the plugin enabled with caching on the filter doesn't work. By the way did you mean `application/json` instead of `text/html` ? In any case it doesn't, `_paging` still `null`.

[2017-02-14 22:20] kadamwhite commented on #146
@SotirisValogiannis Can you try installing a beta version of the plugin I just released:

[code]

and, with the caching plugin enabled, let me know if the new version of the plugin corrects the issue?

Thanks!

[2017-02-14 22:57] SotirisValogiannis commented on #146
@kadamwhite yes seems to works fine now!

[2017-02-15 20:28] malfborger commented on #149
thx guys @klihelp @MurhafSousli ! But no way to use this repo?

[2017-02-17 15:24] klihelp commented on #149
I may use this as well. For start, just require the file, as example:
[How to use Bootstrap 4 and Sass (and jQuery)](https://github.com/AngularClass/angular2-webpack-starter/issues/215)

[2017-02-28 20:21] michaelBenin commented on #154
If we know a post id and it's status is draft, is it possible to retrieve that with the node wp api?

[2017-02-28 20:22] michaelBenin commented on #154
For example:

[code]
This gives a 403 everytime, in the constructor we are passing authentication.

[2017-03-01 03:11] kadamwhite commented on #154
Is this using Cookie/Nonce authentication on the client, or Basic Authentication on the server? I assume you'd have checked this, but you are sure the user you're authenticating as can see the posts when they're logged in to the admin?

[2017-03-02 11:25] chattes commented on #286
Even I have the same issue any ideas how can we update Meta Fields?

[2017-03-02 21:02] chattes commented on #280
@kadamwhite is there some change I have a meta field upvote for my custom post and I have registered using register_meta() , as suggested and when I use a get request , I am getting the meta values like..
  "meta": {
    "upvote": "4",
    "downvote": "0"
  }.
When I try to update it works via postman if I pass the body as
{"meta":

{
	"upvote": "4"
}
}

But the node-wpapi does not take this, if I

[2017-03-03 15:58] andreasvirkus opened #298 "Requests in an interval return cached results"
Hi,

I'm polling a Wordpress site's multiple REST endpoints and the subsequent requests don't seem to make it to the Wordpress side (access.log file remains empty after the first requests).

All relavant files:
https://gist.github.com/andreasvirkus/9c413339d8854e0bb98bc62fa35e0cae

[2017-03-03 16:03] kadamwhite commented on #298
@andreasvirkus It looks like the code here is only designed to initiate the request once. Looking at this method, for example:
[code]
this initiates a request and exports a single Promise that will resolve to its results. Importing or referencing `getPages` again will return that same Promise reference; it will not trigger a new request.

I recommend refactoring the exports of queries.js to be met

[2017-03-03 16:05] kadamwhite commented on #298
To make `pages.all = getPages()` work, too, you'd either need to change that to

[code]
or else use async/await (available in the latest Node 7, I believe)
[code]

[2017-03-03 16:14] #298 closed

[2017-03-03 16:33] kadamwhite commented on #286
How are you registering the meta you wish to update?

[2017-03-03 16:35] kadamwhite commented on #286
If you use `register_rest_field` like this: https://github.com/kadamwhite/wp-notebook/blob/master/wp-notebook.php#L62-L81 then you should be able to update the value by passing that key in the response: https://github.com/kadamwhite/wp-notebook/blob/master/src/components/EntryComposer/index.jsx#L49-L53

[2017-03-03 16:36] kadamwhite commented on #286
If you're using `register_meta`, it should be something like this (untested):

[code]

[2017-03-03 16:36] kadamwhite commented on #286
cc @jiji262 / @emreycolakoglu

[2017-03-07 21:46] sunpietro commented on #283
Hi,
I have a custom post that has a `post_type` of `sp_player`.

I did something like this:
[code]

And I'm getting the `rest_no_route` error. What causes that?
I'm using Wordpress 4.7.3

[2017-03-08 17:30] sdgluck commented on #283
@sunpietro Are you sure that `players` is the right slug for your post type?

[2017-03-08 19:23] kadamwhite commented on #283
Alternatively, you can provide `players` as the "rest_base" property when registering your post type, which will change where the collection is exposed. Hope this helps

[2017-03-08 22:39] kadamwhite commented on #146
Released in v1.0.3! Thanks all.

[2017-03-09 11:12] geekeren opened #300 "\node_modules\wpapi\lib\http-transport.js: Module does not exist in the module map or in these directories:"
when add this library into my React Native project,,these is an error when I start ReactNative server:

E:\AndroidProject\RNBlog\ReactNative\node_modules\wpapi\node_modules
, E:\AndroidProject\RNBlog\ReactNative\node_modules
Anyone know why?

[2017-03-09 11:15] kadamwhite commented on #300
What version of NPM are you using?

[2017-03-09 11:19] geekeren commented on #300
@kadamwhite 4.1.2

[2017-03-09 11:45] kadamwhite commented on #300
Possibly related: facebook/react-native#7686

I'm tied up at a conference today but can take a look at this by tomorrow afternoon if it doesn't sort itself our

[2017-03-09 12:54] sunpietro commented on #283
@kadamwhite after further investigation I found out that I missed REST endpoints exposure. So I exposed them in the `functions.php`.
I think, this is very important but missing information in the `node-wpapi` doc.

[2017-03-09 14:47] geekeren commented on #300
@kadamwhite I do as your suggestion but it doesn't work, then I install wpapi and react-native on ubuntu system,the error occured ,too,like Windows system

[2017-03-10 18:23] benfoxall opened #301 ".pages().slug('foo').update error - `rest_no_route`"
Hey @kadamwhite - this is the issue that I mentioned yesterday.

I expected to be able update the content of a page with this:

[code]

But it looked like `.update` wasn't a function.  I ended up using a [pretty ugly work around](https://github.com/benfoxall/mqtt-wp/blob/master/bridge.js#L18-L20) - though I'd love to know how to remove it.

There's a good chance I'm doing this wrong!

[2017-03-13 15:48] kadamwhite commented on #301
Something's definitely going wrong here, because that method exists in a reduced test case I put together. @benfoxall Can you clarify how the `wp` object is being created? Are you using auto-discovery, or the out-of-the-box `new WPAPI()`?

[2017-03-13 15:48] kadamwhite commented on #301
@benfoxall Also, what version of the library are you using?

[2017-03-13 21:57] benfoxall commented on #301
I'm creating the client with `new WPAPI()` with endpoint/username/password properties (using the basic-auth plugin).  I went down the manual route because I was trying to get this to work with wordpress.com originally.

I'm using version [1.0.2](https://github.com/benfoxall/mqtt-wp/blob/master/yarn.lock#L662-L664).

I'll be revisiting this code tomorrow, I can try updating to 1.0.3 & using auto-di

[2017-03-15 17:58] benfoxall commented on #301
Apologies - I had the error wrong. It's not function undefined - the promise fails with the following:

[code]

I've uploaded a [test case](https://github.com/benfoxall/mqtt-wp/blob/4c478bc5fb12871dac02125f48241339d2b1e961/test-case.js) to my repo.  I'm going to try and update the library and use auto-discovery now

[2017-03-15 18:18] benfoxall commented on #301
I've updated to 1.0.3 and [updated my test case to use auto-discovery](https://github.com/benfoxall/mqtt-wp/blob/38a6c333620da5668919a3652967bdbb8fb208a2/test-case.js). And I still get the same 404 error response.

[2017-03-25 02:47] photocurio commented on #173
Kadam, I'm using the above function to try to post comments. I get this 400 (bad request) error:
`https://topheavypilesofbooks.com/topheavy/wp-json/wp/v2/comments?post%5Bauthor_email%5D=oranges%40youtoo.com&post%5Bauthor_name%5D=gumble%20bumble&post%5Bcontent%5D=o%20give%20me%20a%20break%21%21&post%5Bpost%5D=1133`

If I put an error callback in the promise I get these tidbits:
`code : "rest_invali

[2017-03-25 04:09] kadamwhite commented on #173
Hello! I am terribly sorry for the confusion, @photocurio, a back-compat-breaking change got shipped since the above was posted: the `.post()` method has been renamed `.create()` to avoid confusion with the REST API's `post` query parameter.

Using the snippet
[code]
should work! I never thought to audit old github threads for API changes when we shipped the new version.

[2017-03-25 12:53] photocurio commented on #173
yup, that works.. and makes sense.

[2017-04-04 13:37] arvindkumarbadwal opened #302 "How to apply Filter to Custom Post Types Routes"
Is there anyway to apply filter parameter to custom post type?

For example:

[code]

and i want to apply  filter like => `filter[orderby]=menu_order`  and `order=desc`.

How i can perform such operation using custom routes?

[2017-04-05 03:41] kadamwhite commented on #302
@arvindkumarbadwal `?order` and `?orderby` are both supported for all endpoints without the use of `filter` -- these are both [native pagination parameters supported by REST API collections](https://developer.wordpress.org/rest-api/using-the-rest-api/pagination/).

Because these are built-in, no additional work should be needed, and you should be able to do:

[code]
Should you wish to use filter,

[2017-04-05 03:41] #302 closed

[2017-04-07 17:44] entr opened #303 "Autodiscovery failed: No header link found with rel="https://api.w.org/""
I'm just starting with the whole REST thing but this one just felt like it's not me doing something stupid, or is it?

What I am doing simply is:

[code]

First I had the super annoying CORS issue. No problem, found this little plugin https://github.com/ahmadawais/WP-REST-Allow-All-CORS/blob/master/plugin.php but of no avail, for discovery at least - `rest_api_init` is never fired for discovery HE

[2017-04-07 18:08] pietrasiak opened #304 "How to request 'forgot password' and 'reset password' action"
I was checking `wpapi.users()` functions and prototype, but could not find anything like that. Is it possible with this library?

If no, any recommendation, how to add it or handle such request without rewriting rest client?

[2017-04-07 18:44] kadamwhite commented on #304
@pietrasiak thanks for your question. Unfortunately setting or re-setting passwords is not something that should be done via the REST API; accounts should be created via the WordPress admin or on the site server with WP CLI. This is not something we will be providing endpoints for.

Hope that helps clarify things; I'm going to close this issue but please respond below if you have further questions

[2017-04-07 18:44] #304 closed

[2017-04-08 07:02] entr commented on #303
Turns out I needed one more access-control header to instruct browser not to ignore custom headers. https://github.com/visionmedia/superagent/issues/713 helped me realize that. Providing `Access-Control-Expose-Headers` did it. My `send_headers` hook now is:

[code]
Additionally I also expose `X-WP-Nonce` because WP is sending nonce back for further requests.
Hope this is useful for others.

[2017-04-08 18:04] kadamwhite commented on #303
Re-opening so I remember to capture that in the documentation: thanks for the update!

[2017-04-22 13:45] geekeren commented on #300
waiting for solution of this issue

[2017-04-26 08:17] geekeren opened #305 "used in react-native, setState cant't update the UI"
hello! I am using your nodejs wpapi client in a react-native-based  application;I want to fetch my post with this client,and render the UI with react-native.this is my code:

[code]

The main part of this code:
I fetch data in **componentDidMount**,and setState to  update UI ,but failed.when I debug the code ,I found the data I requst from server is valid and correct ,and the values of state is al

[2017-04-27 13:58] geekeren commented on #300
This issue has been solved:when using this client in react-native project, the dependency of    **url** and **util** is required.you can add dependencies in  **package.json** like this:
[code]

[2017-04-27 13:58] #300 closed

[2017-04-27 14:02] enguerranws opened #306 "Error "rest_cannot_create", status 401"
Hi,

I'm making an app with React Native, and I use this module to handle WP API requests. I'm just messing around right now, but I keep having an error: "rest_cannot_create", with status 401 and message saying that I don't have permission to perform my request.

Here's how I perform the basic auth:
[code]
And my request looks like this:
[code]

What do I miss?

[2017-04-27 15:02] enguerranws commented on #306
Well, I don't know why, the issue is gone now...

[2017-04-27 20:00] kadamwhite commented on #306
Hello! Glad to hear the initial error went away, although unfortunately I am not certain what could have been causing it.

As for the `rest_upload_no_data` issue, I'd suggest logging out the value of `uri` to understand what is being sent to the API in the initial file request. I have not attempted to integrate this with React Native, so it's possible that the method of accessing and passing throu

[2017-04-27 20:12] kadamwhite commented on #305
Hello, and thank you for using node-wpapi!

If the value of the state is updated properly then your issue looks like it's a problem with the specific React code in your application, not this library -- as a result I'm going to close this issue as it does not represent a bug in the `wpapi` package itself.

However, thinking about what might be happening, some potential things to try: perhaps revers

[2017-04-27 20:12] #305 closed

[2017-04-28 08:15] enguerranws commented on #306
Hi, thanks for your reply.
The value of URI is a string like  `file://Users/username/...` as I'm testing on iOs simulator. As the docs says `a String describing an image file path, e.g. '/path/to/the/image.jpg'`, I also tried removing `file:/`, with no success (still getting `rest_upload_no_data` error).

Just to be sure, I tried using `posts()` method, which works well.

[2017-04-28 13:48] m10l opened #308 "Can't use 'menu_order' for orderby with custom post type"
I'm unable to use `orderby('menu_order')` when querying my custom post type. I receive the following error message:

[code]

Here's a fuller example of the client-side code I'm using -

[code]

Is there something else I need to add to `functions.php` in WordPress? I'm using the following when registering the custom post type

[code]

[2017-04-28 14:58] m10l commented on #308
I've just managed to fix my problem, but not sure if I'm going against best practice. I took some code from https://github.com/WP-API/WP-API/issues/2308#issuecomment-266214066 and added the following to `functions.php`.

[code]

[2017-04-28 18:48] arturgithub opened #309 "Automatic OPTION request to the endpoint before my Gets."
Hello,

thank you for your amazing work and apologies if this is not the proper channel to address this issue.

I am using your project in a react application using:

- The "Create React App" boilerplate (hot reloading and all that stuff)
- Chrome as my browser with CORS add-on.

The issue is that I have found that whenever I am performing a GET request to my custom endpoint using the your standar

[2017-04-28 19:26] kadamwhite commented on #309
Thanks for the kind words, and for using this library!

What you are describing is a result of the way CORS requests get handled by the browser. The OPTIONS request happens automatically when making a cross-origin call that counts as a [Preflighted request](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests); it's part of the CORS specification, and outside

[2017-04-28 19:26] #309 closed

[2017-04-28 19:29] kadamwhite commented on #306
My best guess is that in the React Native environment, there's some other piece of file access that we'd need to pass in lieu of that file: string... I unfortunately can't commit to building a proof-of-concept right now, but I'd recommend searching for examples of React Native image uploads to see what value they use to pass in to `fetch` or whatever upload library they're using.

If you make any

[2017-04-28 19:39] kadamwhite commented on #301
d'oh, I figured it out; sorry for the delay, I was chasing the wrong problem. `.slug()` is working correctly, but the result of any _search operation_ (and searching by slug counts) is an array of posts, not a post object. So, to update this resource, you'd need to make two hops:

[code]
The critical part is to read out the ID of the post from the returned array containing the match for the provid

[2017-04-28 19:40] kadamwhite commented on #301
I'm going to close this out because it does look like things are working as they must given the structure of the REST API, but if there's a specific improvement you'd like to see made to the docs to prevent this type of issue please suggest it and I'll re-open the ticket to cover implementing that docs fix. Sorry for the delay, @benfoxall, and thank you again for raising the issue.

[2017-04-28 19:40] #301 closed

[2017-04-28 19:48] kadamwhite commented on #309
Linking this to #249 and #303 as it seems related

[2017-04-29 10:08] arturgithub commented on #309
Thank you for your quick and comprehensive response!!

As in my case, it only affects my development environment, I can perfectly live with things working the way they currently do :)

I would try to gather some time to audit the OPTIONS and GET time responses and let you know.

Best regards,

[2017-04-30 03:11] obenland opened #310 "Syntax error with forward slash in group pattern"
This should be reproducible on every site with Jetpack enabled.

The Plugin Directory v3 (and Jetpack) include forward slashes in some of their route group patterns:
[code]

It looks like these forward slashes get removed when [the route tree gets broken down](https://github.com/WP-API/node-wpapi/blob/043a0622277003d05e1e015d7e6c133db966fcb0/lib/route-tree.js#L143), resulting in an invalid regex.

[2017-05-02 09:14] enguerranws commented on #306
I'm using react-native-image-picker right now. Following the docs (https://github.com/react-community/react-native-image-picker#the-response-object), I can retrieve the image path, some urls, base64 data, etc.

I'm trying getting image data as base64 and make a new buffer from it, passing it to `wp.media().file(imageDataAsBase64)`

[2017-05-02 10:13] enguerranws commented on #306
So, here's the result, I changed the original uri string to a buffer containing the base64 image data:
[code]
This leads to an error (or something like an error) :
- when using `wp.media().file(imageBase64Data)`, `imageBase64Data` is a `Uint8Array` variable
- I get this message in the console:

As I'm not familiar with this (base64, buffers), I'm not sure what's going on there.

[2017-05-02 12:47] enguerranws commented on #306
Assuming I fixed the error I got earlier with the following:

`response = new Buffer(dataString).toString('base64');`

I still got the same error: 400, `rest_upload_no_data`

[2017-05-03 07:33] jamesjara commented on #286
What about with https://codex.wordpress.org/Function_Reference/update_post_meta  I have a big problem using this plugin and framework... documentations is missing or not working.. hard to debugg, thanks for your help

[2017-05-04 05:30] entr opened #311 "Custom route doing HTTP POST request"
According #244 we should use `create(data)` promise in order to perform POST request but instead I'm seeing empty POST header and my `data` is sent as Request Payload. In my custom endpoint handler I see my `data` is being indeed found in request body. Is that the expected behavior or I'm missing something?

I'm trying to do simple login that mimics standard WP login process and acquire `logged_in

[2017-05-05 07:37] anesumuz commented on #306
I have the same issue , my code is as below . I get the `{ code: 'rest_cannot_create',message: 'Sorry, you are not allowed to create posts as this user.',data: { status: 401 } }` error.  How can I resolve this, and is there any extra config needed on the WP dashboard side?

[code]

[2017-05-05 16:57] enguerranws commented on #306
That seems obvious, but did you check that username / password are correct and registered on your WP install?

If you need more help on this, open your own issue please.

[2017-05-09 08:17] andreasvirkus opened #312 "How to set an authorisation header?"
Hi. I'm most likely getting something very basic wrong, but I can't put my finger on it.
I've got a JWT token that I'd like to set for my requests but superagent's `set` doesn't seem to work. Currently I get the following error:

`TypeError: _endpoints2.default.pages(...).set is not a function`

How would I go about setting the token? I saw `headers` in the docs, would that be it (and does it take

[2017-05-09 13:07] andreasvirkus commented on #102
Could anyone give some input in https://github.com/WP-API/node-wpapi/issues/312? @mzalewski You mentioned that getting the token is the hard part (which I've managed). How would I then go about signing the requests with the jwt?

[2017-05-10 06:11] awcoding opened #313 "Sorry, you are not allowed to create posts as this user - Auth issue"
My "app":

[code]

Gives me:
[code]

[2017-05-10 07:34] awcoding commented on #313
Tried this with combos of: regular user + admin + concurrent login session web + logged out. No change.

[2017-05-10 13:21] andreasvirkus commented on #312
I think I got it working now with
[code]
But the request performed is now HEAD instead of GET, so the response body is missing.
In comparison, I've added a request for a custom endpoint where I didn't set the headers (remains of type GET)
[code]

[2017-05-12 09:39] mzalewski commented on #312
Alternatively, look at this pull request: https://github.com/WP-API/node-wpapi/pull/299
It's definitely cleaner than a new transport, but you'll have to use the forked version (until the pull request is merged)

[2017-05-12 12:53] andreasvirkus commented on #312
Excellent, thank you so much for pointing me towards that PR, @mzalewski. And sorry for hunting you down like that 😄

[2017-05-12 20:25] mzalewski commented on #312
No problem, happy to help - let me know if you have any issues

[2017-05-16 08:12] mnivoliez opened #314 "Is there a way to request specific languages? i18n"
Hi, I was wondering how can request specific languages (like french) to the api? Maybe there is a way to add 'Accept-Language' header to request?

[2017-05-16 16:07] andreasvirkus commented on #312
@mzalewski Gonna poke you once more... Does it matter if I assign the JWT to the WP
instance:
[code]
or if I attach it to every request (since I might not have it when creating the instance):
[code]

[2017-05-17 06:52] kadamwhite commented on #312
Hey y'all, apologies for letting this sit so long without response. We're evaluating supporting JWT natively but I will also be working on an update that includes a new method to set the headers to use on your request, which should make third-party support for JWT and other header-based authentication schemes much easier. I'll drop the PR link here for comments once I have something ready

[2017-05-17 08:01] mzalewski commented on #312
That's great news :+1:

@andreasvirkus I wouldn't think that you'd need to set it instance-wide - I haven't really tested it out though, so that's just based on my quick look at the pull request.

[2017-05-17 16:13] #303 closed

[2017-05-17 20:59] kadamwhite commented on #313
There doesn't appear to be anything wrong with your code; are you sure you have the [Basic Authentication plugin](https://github.com/wp-api/basic-auth) installed & activated? Only cookie authentication is enabled by default, other authentication schemes require a specific plugin to be installed.

If you've already got that running and you still encounter this issue write back here and I'll do what

[2017-05-17 21:03] kadamwhite commented on #311
Hello and thanks for using this library! I'm not sure from your description whether you're encountering an issue using node-wpapi, or clarifying how it functions. By default Superagent (and other HTTP libraries like Axios) will send JSON payloads as the request body, rather than form-encoded; I think this is what you are asking, if you can clarify I can explain further (or help to troubleshoot if

[2017-05-17 21:04] kadamwhite commented on #279
@nezzard Can you share the code you are using to import `_`? Is this still an issue?

[2017-05-17 21:17] kadamwhite commented on #314
@mnivoliez Thank you for submitting this issue! I've proposed a system for specifying custom headers in pull request #315 and I would welcome your feedback on the implementation and interface.

[2017-05-17 21:18] kadamwhite commented on #312
@mzalewski @andreasvirkus I've proposed a system for specifying custom headers in pull request #315 and I would welcome your feedback on the implementation and interface.

[2017-05-18 16:24] #312 closed

[2017-05-18 16:24] #314 closed

[2017-05-18 19:27] kadamwhite opened #316 "Fix API documentation site"
The generated API documentation site has regressed during the refactor of this library, and does not provide a good overview of the methods available on a default WPAPI object. It should be updated and possibly migrated to JSDoc.

[2017-05-19 21:01] #316 closed

[2017-05-22 16:38] kadamwhite commented on #310
This feels tricky to handle because there is a pretty deep assumption in our route parsing that a forward slash indicates a hierarchical level of the route, and would not occur in a regex. I will look into it, but would also welcome your input on how to resolve the situation.

[2017-05-22 20:37] kadamwhite commented on #310
@obenland It wasn't as deeply engrained into the logic as I had thought, and #318 is now up for review -- if you have the opportunity to review or test that PR out I'd love your eyes

[2017-05-22 23:59] #310 closed

[2017-05-24 03:18] awcoding commented on #313
I didn't have it installed. Thanks for letting me know.

[2017-05-24 03:18] #313 closed

[2017-05-28 19:09] rotexhawk opened #319 "Post Request to Custom Post with Custom Fields"
I have created a custom post type in Wordpress and exposed it to rest API. I have also added custom fields to this post using the ACF plugin.

In my themes function.php I have registered these fields in the response and I can see them when I make a get request.
`register_rest_field('auto', 'specs', array('get_callback'  => 'get_autos_specs_for_api'));`

The problem is that when I send a post reque

[2017-05-29 02:18] josephdburdick opened #320 "How to get specific page or post and corresponding next or previous"
Hello, I really appreciate the work put into this project! I was wondering how one would tackle requesting a specific post or page and then the next/previous result of that item? I've done this with search results but didn't know how/if it would work for a result from a specific ID or slug?

[2017-05-30 04:46] entr commented on #311
So it is safe to assume we can't send POST requests with WPAPI. Mostly I was wondering how to do it since POST is a valid route method that can be used in WP's `register_rest_route()`

[2017-05-31 12:13] motleydev commented on #306
Before sending @anesumuz away, just wanted to point out again you need to use the Basic-Auth wordpress plugin to make this work.

See this quote from above:

It's not available in the plugin repo so you need to download it here from Github.

[2017-06-13 12:30] motleydev opened #321 "401 Error - Rest Cannot Create"
I have a locally hosted wp install with the auth plugin installed and am using a node script to interface with the site (bulk manage tags, etc)

I can fetch all existing tags just fine which makes me think that my script is authenticating.

When I try to create a tag, I guess this error:

[code]

Here's my code:

    require('dotenv').config({path: '../.env'})
    var WPAPI = require( 'wpapi' );

[2017-06-13 14:47] motleydev commented on #321
Issue is related to process.env

[2017-06-13 14:47] #321 closed

[2017-06-16 22:59] juellez commented on #319
@rotexhawk have you tried this plugin to connect the ACF data w/the API? https://wordpress.org/plugins/acf-to-rest-api/

[2017-06-22 13:43] vuldin opened #322 "Obtain raw content of posts without being authenticated"
I'm making a web application that calls the REST API to gather posts, users, etc. and then displays this information. Users of the site will be able to read posts without being logged in. The issue is that the REST API doesn't return the raw post content for unauthenticated GET requests.

This means that I must parse the rendered content, and in many cases remove styling, tags, CSS classes, and ot

[2017-06-22 14:01] kadamwhite commented on #322
It is possible, but you'd have to write some plugin code in the PHP side. Either you could use a filter to add in the raw content to the post, or make a custom endpoint to surface that data. This is an acknowledged weakness of the API that is an unavoidable side effect of the traditional web publishing orientation of WP's history.

As a caveat, many sites that I've seen have proprietary informatio

[2017-06-22 14:08] vuldin commented on #322
Creating a plugin that changes the filter so that raw content is returned seems like the best approach for my situation. Thanks for pointing me in this direction! I assume [this](https://developer.wordpress.org/rest-api/extending-the-rest-api/modifying-responses/) is the best source of information on this task.

[2017-06-22 14:08] #322 closed

[2017-06-22 17:41] vuldin commented on #322
If anyone finds this later, [here is the plugin](https://github.com/vuldin/raw-post-mod) that does basically what is described above. The only issue now is the raw data is also not in a very usable format, but this is a different issue. I discuss what I'm hoping to do about this [here](https://github.com/vuldin/raw-post-mod#future-plans).

[2017-06-27 00:41] kadamwhite opened #323 "Clarify usage within React Native applications"
#300 establishes that React Native does not bundle all the same dependencies that Node does; we should either depend on these shim libraries directly so that this project can be used independently of environment, or else clarify the React Native-specific requirements somewhere in the docs.

[2017-06-27 08:32] enguerranws commented on #306
@motleydev I did that, I can publish simple posts from my RN app to my distant WP install, I just can't upload media this way. Something's breaking up.

[2017-06-28 12:05] unematiii opened #324 "How to access superagent's request obj?"
## How to access superagent's request obj?

I need to call `withCredentials()` on the request obj to deal with CORS. How to do it without overriding all the methods that `http-transport` exports (delete, get, head, post, put)?

[2017-06-29 11:23] unematiii commented on #324
Workaround: Cloned the contents of `http-transport.js` + added defaults for `superagent`:

[code]

import transport from './http-transport'
const api = new WPAPI({ endpoint: 'example.com/wp-json', transport })

[2017-06-30 06:26] motleydev commented on #154
Hi @kadamwhite, I am using this exact string `wp.posts().auth().param( 'context', 'edit' ).param( 'status', 'draft' )` to fetch drafts and I keep getting this error message:

    { code: 'rest_invalid_param',
      message: 'Invalid parameter(s): status',
      data: { status: 400, params: { status: 'Status is forbidden.' } } }

My auth works because I can create posts just fine, just fetching dra

[2017-07-01 11:10] motleydev opened #325 "Fetching posts not authenticating properly."
I commented on the issue [here](https://github.com/WP-API/node-wpapi/issues/154#issuecomment-312186212) and even posted the issue on [SO](https://stackoverflow.com/questions/44840350/fetching-drafts-forbidden-in-wordpress-rest-api) but now I'm opening a new issue to try and figure this out.

I've tried nearly every convocation of fetching drafts. My primary site constructor is using Basic Auth and

[2017-07-01 15:47] kadamwhite commented on #325
Thanks for filing this issue, i'd seen the SO post but hadn't had time to dig into it. I'll see if I can replicate today and hope to get you a response by the end of the weekend.

[2017-07-01 18:40] motleydev commented on #325
Sweet! And I wasn't trying to complain with the references, more provide a canonical reference! :)

[2017-07-03 19:22] motleydev commented on #325
@kadamwhite I think I have some more context. I tried to basically recreate a recursion/pagination feature for fetching drafts using request. I discovered that, since the implicit auth doesn't seem to work when fetching drafts (I had to add it to the headers explicitly) the "next" link also doesn't have implicit auth. I had to add the auth into my request function (interestingly it caused an error

[2017-07-06 03:48] kadamwhite commented on #325
@motleydev Are you sure the user you are authenticating with has the rights to view draft posts? With an admin-level user, this snippet works on every site I have running that uses Basic Auth:
[code]
I get the list of draft posts as expected

[2017-07-06 09:39] joneslloyd opened #326 "Correct way to check if user is logged in and perform a ".me()" request"
Hi there,

Just wanted to check/confirm:

Is there a way, whilst only using `wpapi`, to check whether the `wp.users().me()` request can be performed?

If the user is not logged in, but a call to `wp.users().me()` is made, then the response is `403`, but I'd like to be able to check if the user is logged in before making the `wp.users().me()` call.

Currently I'm wrapping the call in this:

[code]

[2017-07-06 15:20] kadamwhite commented on #325
@motleydev I was digging in to the wrong problem, I see why authentication isn't being maintained across requests and there is a PR and release incoming today to fix it :)

[2017-07-06 17:21] #325 closed

[2017-07-06 18:01] kadamwhite commented on #295
@sdgluck I'm unlikely to have time to prototype this over the coming weeks but I'm still interested in the idea. If you have time to submit a PR I'd love to see this move forward; if not I should get to it later in the summer.

[2017-07-06 18:04] kadamwhite commented on #320
Hello! @josephdburdick That's an interesting question. The API does not provide `prev` and `next` link headers for individual posts, so there is not an easy way to step forward and back between individual posts. The best I could offer would be to build an ordered list of post IDs or Slugs within your application and to use that to handle requesting the preceding or following post.

I'm going to cl

[2017-07-06 18:04] #320 closed

[2017-07-06 18:08] kadamwhite commented on #319
@rotexhawk Looks like you probably need to give the `register_rest_field` options object an `update_callback` function; you're only defining the GET callback, so your endpoint doesn't know how to handle the received data when a POST or PUT is received. Check out the [`register_rest_field` documentation](https://developer.wordpress.org/reference/functions/register_rest_field/), or try out the refer

[2017-07-06 18:08] #319 closed

[2017-07-06 18:20] kadamwhite commented on #326
Hey @joneslloyd, thanks for using this library and thanks for the interesting question. Unfortunately what you're asking is a little out of scope for this project itself; how you maintain authentication credentials is an application-level concern that is outside of the domain of this library (which focuses on the query building and transport). Additionally, since authentication is technically re-u

[2017-07-06 18:21] #326 closed

[2017-07-06 18:33] kadamwhite commented on #311
@entr sorry for the delayed follow-up on this. I'm still not sure I understand what you're having trouble with, because you can send a POST request with this library, and `register_rest_route` should accept POST requests dispatched with `create`. Nothing about GET or POST preclude having the data passed as a request body, that's based on the Content-Type and encoding used; in the API we're assumin

[2017-07-06 18:33] #311 closed

[2017-07-06 18:41] kadamwhite commented on #154
@michaelBenin I just realized that the request you describe
[code]
is invalid -- `.status` is not needed if you have the ID, `wpApi.posts().id( id ).embed()` should be sufficient. If you're getting a 403 then your auth works, but the user you're using to authenticate may not have proper permissions to view that post ID. This may not be related to your issue but I thought I'd leave the note here ju

[2017-07-06 18:45] joneslloyd commented on #326
Hey @kadamwhite, thanks for getting back to me!

I was more just wondering if there was a built-in way to 'gracefully' check if a request (in this instance `wp.users().me()`) was not possible, rather than getting the error.

But the solution you've posted here will work for me (the PHP-based JS variable one).

Thanks a lot!

[2017-07-06 18:57] kadamwhite commented on #326
Glad to hear it helps, happy coding!

[2017-07-06 19:02] motleydev commented on #325
Sweet! Great work!

[2017-07-06 19:47] michaelBenin commented on #154
Hey - yea we got previews hooked up in our app. Thanks for reaching out again! And thanks for this awesome lib!

[2017-07-07 21:25] josephdburdick commented on #320
That makes sense. Thanks, @kadamwhite.

[2017-07-11 14:33] kadamwhite opened #329 "Document usage with wp.com wp/v2 API endpoints"
This issue was [raised in Gitter chat](https://gitter.im/WP-API/node-wpapi?at=596495dff5b3458e30353c57):

The built-in WordPress REST API is supported by WordPress.com through their public-api.wordpress.com site; the base URL for endpoints for a given site is e.g.
[code]
where `your_site` is a string like "kadamwhite.wordpress.com". Then you can request collections and resources as normal:
[code]

[2017-07-11 14:57] kadamwhite commented on #279
@nezzard I wanted to check in to see if you were still having this issue -- if so, please share the code you are using to import or require `_`. I'm going to close this out again because it seems the issue is around importing lodash, not about the functionality of this library, but if you're still having trouble I'll do my best to help.

[2017-07-11 14:57] #279 closed

[2017-07-11 15:00] kadamwhite commented on #286
Closing this as a duplicate of #280 to unify the threads; meta handling is currently our top-priority documentation issue

[2017-07-11 15:00] #286 closed

[2017-07-11 15:00] kadamwhite commented on #280
Merging #286 into this issue; documenting how to work with custom meta is currently our top-priority docs issue

[2017-07-11 15:07] kadamwhite commented on #308
@m10l This is an issue with the underlying WordPress REST API, not this library; while `menu_order` is still not supported 'out of the box," the best solution (as discussed in [Issue #38693 on the core WordPress trac](https://core.trac.wordpress.org/ticket/38693#comment:5)) is to use a new filter to add your custom orderby value:
[code]
Your snippet doesn't sound like it goes against best practice

[2017-07-11 15:07] #308 closed

[2017-07-11 15:09] kadamwhite commented on #281
Closing due to lack of response; installing the https://github.com/wp-api/rest-filter plugin may resolve the issue, if dependence on `?filter` cannot be avoided.

[2017-07-11 15:09] #281 closed

[2017-07-12 08:40] igoldny opened #330 "Whats the new way of filtering posts by tags?"
Hey,
I'm trying to upgrade from wpapi 0.9 to latest.
previously I've been using filters for filtering posts by tags.

I have a use case where I need to query by tags and ".tags()" don't fully fit.

currently, tags return posts with "tag1" or "tag2"
and I need a way to filter as such:

include: "tag1" and "tag2" and ("tag3" or "tag4")
exclude: "tag5"

with the previous API that would look like this

[2017-07-12 08:52] kadamwhite commented on #330
The recommended way to filter by taxonomy term slugs is to fetch the terms separately, note their ID, and query with IDs as usual: `.tags( id1, id2 )`. This is recommended because tag IDs are a more stable indicator than slugs, and all relationships in the API are ID-driven.

The filter query parameter can be reinstated however by installing the plugin at github.com/WP-API/rest-filter; if you use

[2017-07-12 08:52] #330 closed

[2017-07-12 08:54] kadamwhite commented on #330
I missed the complexity of the query you want to make; for that usage yes, I think the rest-filter plugin will be required. However for "not in," you should be able to use the `tags_exclude` parameter

[2017-07-13 08:20] igoldny commented on #330
thnx for the quick response.
I've tried your suggestion following the docs but came across an error.
seems like the filter function not implemented or am i doing something wrong?

[code]

this lines of code thorw an error:
"TypeError: wp.posts(...).filter is not a function"

[2017-07-13 14:17] kadamwhite commented on #330
Just to check -- you do have the rest-filter plugin installed and active?

[2017-07-16 06:47] igoldny commented on #330
yes, I did but even if it's not installed I think filter supposed to be available and the answer from the server will fail but it, not the case, I get js error that filter function not found.

[2017-07-16 12:38] kadamwhite commented on #330
The filter method is only available if you use auto-discovery: https://github.com/WP-API/node-wpapi/blob/master/README.md#other-filters it's available as a mixin for use with custom endpoint handlers, but the out-of-the-box WP client methods this library provides are based around a current snapshot of the functionality of the core REST API, and unfortunately this does not include filter. I'd be op

[2017-07-16 13:28] igoldny commented on #330
are you sure filter available when you use auto-discovery? I get an error that filters function not available in auto-discovery and nothing is been sent...

[2017-07-16 16:01] kadamwhite commented on #330
@igoldny it should be available, yes; please see my question above about whether you see it enumerated in the output from the root wp-json output. If it's there, then the fact filter does not work is a bug, if it's not there then the bug is in the rest-filter plugin.

[2017-07-17 12:48] igoldny commented on #330
@kadamwhite yes looks like filter is there when i'm using "category_name" instead of category with id
i get this output:
[code]

but can't test that with auto-discovery coz it's not working here
same query with auto-discovery with not sent any request to wp and i will get error that filter function not working.

[code]

[2017-07-19 21:45] kostenickj opened #331 "Help needed getting nonce in angular2"
Hi, ive followed the instructions here for cookie auth:

http://wp-api.org/node-wpapi/authentication/

this is in my functions.php of my theme. (my theme is an angular app)

`<?php
    add_theme_support( 'post-thumbnails' );

    function my_enqueue_scripts() {
        wp_enqueue_script( 'app', get_template_directory_uri() . '/dist/main.bundle.js', array(), false, true );
        wp_localize_scrip

[2017-07-20 16:36] kadamwhite commented on #331
@kostenickj This _shouldn't_ have any bearing on your issue, but one thing to try might be to use `wp_register_script` first, then to call `wp_enqueue_script( 'app' );` after the localize call. The localize documentation uses that format, which is the same one we use [in our guide on cookie auth](http://wp-api.org/node-wpapi/guides/2016/08/12/authenticating-with-cookies.html); however, as I note,

[2017-07-23 16:26] sdgluck commented on #295
@kadamwhite Sorry- didn't see your comment until now. I might have some time to have a go at this in the next week or two. 👍 If not, I'll let you know.